Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json)": "npm run format",
    "*.sol": "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

words
  contracts/bond/ExpiryTimestamp.sol
Due: npm run lint-sol -- --fix

fix: doc to warn of intentional time usage
  contracts/bond/ExpiryTimestamp.sol
Due: npm run lint-sol -- --fix

feat: test framework with contract events
  test/bond-factory.test.ts
  test/bond.test.ts
  test/contracts/bond/bond-events.ts
  test/contracts/bond/bond-factory-events.ts
  test/contracts/bond/verify-bond-events.ts
  test/framework/contracts.ts
  test/framework/events.ts
  test/framework/transaction.ts
  test/utils/events.ts
Due: npm run lint-ts -- --fix

feat: supporting multiple events
  test/bond-factory.test.ts
  test/bond.test.ts
  test/contracts/bond/verify-bond-events.ts
  test/framework/events.ts
Due: npm run lint-ts -- --fix

multiple transfer events
  test/bond.test.ts
  test/contracts/bond/bond-events.ts
  test/contracts/bond/verify-bond-events.ts
Due: npm run lint-ts -- --fix

consistent validation structure
  test/bond-factory.test.ts
  test/contracts/bond/verify-bond-factory-events.ts
Due: npm run lint-ts -- --fix

linting
  test/contracts/bond/verify-bond-factory-events.ts
Due: npm run lint-ts -- --fix

multiple transfer events
  test/bond.test.ts
  test/contracts/bond/verify-bond-events.ts
Due: npm run lint-ts -- --fix

transfer verifies
  test/bond.test.ts
  test/contracts/bond/verify-bond-events.ts
Due: npm run lint-ts -- --fix

fix: verifying multiple events with identical names
  test/bond-factory.test.ts
  test/bond.test.ts
  test/contracts/bond/bond-events.ts
  test/contracts/bond/verify-bond-events.ts
  test/contracts/bond/verify-bond-factory-events.ts
  test/framework/events.ts
Due: npm run lint-ts -- --fix

fix: optimisation, no transfer when amount is zero
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

formatting
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

fix: no collateral transfer when amount is zero
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

fix: formatting sol files as solhint does not
  .lintstagedrc
Due: none

fix: formatting sol files on staging
  .lintstagedrc
Due: none

fix: redundnant async
  test/contracts/bond/verify-bond-events.ts
Due: npm run lint-ts -- --fix

fix: redundant async
  test/contracts/bond/verify-bond-events.ts
Due: npm run lint-ts -- --fix

fix: OZ contracts as dev dependencies
  package.json
Due: none

feat: upgradability of BondFactory
  .openzeppelin/unknown-33133.json
  contracts/bond/BondFactory.sol
  hardhat.config.ts
  package.json
  test/bond-factory-upgradability.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

interface for upgraded event args
  test/bond-factory-upgradability.test.ts
  test/contracts/upgradable/upgradable-events.ts
  test/framework/event-listener.ts
Due: npm run lint-ts -- --fix

framwork bond factory creation
  .openzeppelin/unknown-33133.json
  test/bond-factory-upgradability.test.ts
  test/bond-factory.test.ts
  test/bond.test.ts
  test/framework/contracts.ts
  test/framework/time.ts
Due: npm run lint-ts -- --fix

only owner
  .openzeppelin/unknown-33133.json
  test/bond-factory-upgradability.test.ts
  test/framework/contracts.ts
Due: npm run lint-ts -- --fix

moving and renaming extension contract
  .openzeppelin/unknown-33133.json
  contracts/test/upgradable/BondFactoryExtension.sol
  test/bond-factory-upgradability.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

doco
  test/framework/contracts.ts
Due: npm run lint-ts -- --fix

both formant and lint sol files
  .lintstagedrc
Due: none

ordering
  contracts/bond/BondFactory.sol
  contracts/test/BondFactoryTwo.sol
Due: npm run lint-sol -- --fix

event listener into framework
  .openzeppelin/unknown-33133.json
  test/bond-factory-upgradability.test.ts
  test/framework/event-listener.ts
  test/framework/time.ts
Due: npm run lint-ts -- --fix

refactoring upgrades into contract framework
  .openzeppelin/unknown-33133.json
  test/bond-factory-upgradability.test.ts
  test/bond-factory.test.ts
  test/bond.test.ts
  test/framework/contracts.ts
Due: npm run lint-ts -- --fix

feat: listening to events
  .openzeppelin/unknown-33133.json
  contracts/bond/BondFactory.sol
  contracts/test/BondFactoryTwo.sol
  test/bond-factory-upgradability.test.ts
  test/contracts/ownable/ownable-events.ts
  test/contracts/ownable/verify-ownable-event.ts
  test/contracts/upgradable/upgradable-events.ts
  test/contracts/upgradable/verify-upgradable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

testing side effects
  .openzeppelin/unknown-33133.json
  test/bond-factory-upgradability.test.ts
Due: npm run lint-ts -- --fix

removing unused function
  test/bond-factory-upgradability.test.ts
Due: npm run lint-ts -- --fix

unused import
  test/bond-factory-upgradability.test.ts
Due: npm run lint-ts -- --fix

tests
  .openzeppelin/unknown-33133.json
  contracts/test/upgradable/BondFactoryWithConstructor.sol
  contracts/test/upgradable/BondFactoryWithEnum.sol
  contracts/test/upgradable/BondFactoryWithImmutableField.sol
  contracts/test/upgradable/BondFactoryWithInitialValueField.sol
  contracts/test/upgradable/BondFactoryWithSelfDestruct.sol
  contracts/test/upgradable/BondFactoryWithStruct.sol
  package-lock.json
  package.json
  test/bond-factory-upgradability.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

merging
  .openzeppelin/unknown-33133.json
Due: none

feat: BondFactory upgradability
  .lintstagedrc
  .openzeppelin/unknown-33133.json
  contracts/bond/BondFactory.sol
  contracts/test/upgradable/BondFactoryExtension.sol
  contracts/test/upgradable/BondFactoryWithConstructor.sol
  contracts/test/upgradable/BondFactoryWithEnum.sol
  contracts/test/upgradable/BondFactoryWithImmutableField.sol
  contracts/test/upgradable/BondFactoryWithInitialValueField.sol
  contracts/test/upgradable/BondFactoryWithSelfDestruct.sol
  contracts/test/upgradable/BondFactoryWithStruct.sol
  hardhat.config.ts
  package-lock.json
  package.json
  test/bond-factory-upgradability.test.ts
  test/bond-factory.test.ts
  test/bond.test.ts
  test/contracts/ownable/ownable-events.ts
  test/contracts/ownable/verify-ownable-event.ts
  test/contracts/upgradable/upgradable-events.ts
  test/contracts/upgradable/verify-upgradable-events.ts
  test/framework/contracts.ts
  test/framework/event-listener.ts
  test/framework/time.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: eslint type checking
  .eslintrc
  test/bond.test.ts
  test/contracts/ownable/verify-ownable-event.ts
  test/contracts/upgradable/verify-upgradable-events.ts
Due: npm run lint-ts -- --fix

part way through eslint
  .eslintrc
  .openzeppelin/unknown-33133.json
  test/bond-factory-upgradability.test.ts
  test/bond-factory.test.ts
  test/bond.test.ts
  test/contracts/bond/bond-contract.ts
  test/framework/time.ts
Due: npm run lint-ts -- --fix

further through eslit JS
  .eslintrc
  hardhat.config.ts
  test/bond-factory-upgradability.test.ts
  test/contracts/bond/verify-bond-events.ts
Due: npm run lint-ts -- --fix
