Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: adding event log verification
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/bond/whitelist-events.ts
Due: npm run lint-ts -- --fix

fix: collateral whitelist ut to include dao id (#313)
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/bond/whitelist-events.ts
Due: npm run lint-ts -- --fix

fix: ut for passing through reward pools
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/bond-factory.test.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

external accessor
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

variable shaowing
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/bond-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: ut for passing through reward pools in factory (#314)
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/bond-factory.test.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: ut event log verification for bond creator
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/event/bond/bond-creator-events.ts
  test/event/bond/verify-bond-creator-events.ts
Due: npm run lint-ts -- --fix

test framework fix
  test/event/bond/bond-creator-events.ts
Due: npm run lint-ts -- --fix

fix: ut event log verification for bond creator (#318)
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/event/bond/bond-creator-events.ts
  test/event/bond/verify-bond-creator-events.ts
Due: npm run lint-ts -- --fix

fix
  test/contracts/bond/bond-mediator.test.ts
  test/event/bond/bond-mediator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
Due: npm run lint-ts -- --fix

fix: event and event log verification for dao creation (#319)
  test/contracts/bond/bond-mediator.test.ts
  test/event/bond/bond-mediator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
Due: npm run lint-ts -- --fix

fix: standard parameter ordering
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
Due: npm run lint-ts -- --fix

fix
  test/contracts/bond/bond-curator.test.ts
  test/event/bond/verify-curator-events.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

another fix
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/sweep/verify-sweep-erc20-events.ts
  test/event/sweep/verify-token-sweep-events.ts
Due: npm run lint-ts -- --fix

fix: standard parameter ordering (#321)
  test/contracts/bond/bond-curator.test.ts
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/sweep/verify-sweep-erc20-events.ts
  test/event/sweep/verify-token-sweep-events.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

fix: further abstraction of the event test code for easier use
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/framework/event-logs.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

fix: further abstraction of the event test code for easier reuse (#323)
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/framework/event-logs.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

feat: meaningful verify meessages
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/framework/events.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

feat: meaningful verify meessages (#324)
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-bond-mediator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/framework/events.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

chore(deps): update all dependencies
  package-lock.json
  package.json
Due: none

existing unit tests passing
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolCurator.sol
  contracts/staking/StakingPoolFactory.sol
Due: npm run lint-sol -- --fix

add StakingPoolMediator
  contracts/DaoCollateralWhitelist.sol
  contracts/DaoConfiguration.sol
  contracts/staking/StakingMediator.sol
  contracts/staking/StakingPoolCurator.sol
  contracts/staking/StakingPoolMediator.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
Due: npm run lint-sol -- --fix

created StakingCurator contract
  contracts/staking/StakingCurator.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

remove hardhat console
  contracts/staking/StakingPoolFactory.sol
Due: npm run lint-sol -- --fix

add commented out mediator
  contracts/staking/StakingMediator.sol
Due: npm run lint-sol -- --fix

correct naming
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

naming
  test/event/bond/dao-configuration-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
Due: npm run lint-ts -- --fix

remove unused imports
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

create the StakingPoolCreator interface
  contracts/DaoConfiguration.sol
  contracts/bond/BondMediator.sol
  contracts/staking/StakingPoolCreator.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

get rid of the factory
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

createManagedStakingPool
  contracts/bond/BondPortal.sol
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

fix: auto generation of natspec md from Solidity files
  .gitignore
  README.md
  hardhat.config.ts
  package-lock.json
  package.json
Due: npm run lint-ts -- --fix

fix: auto generation of natspec md from Solidity files (#327)
  .gitignore
  README.md
  hardhat.config.ts
  package-lock.json
  package.json
Due: npm run lint-ts -- --fix

isolate dao config tests and box contract
  contracts/bond/BondMediator.sol
  contracts/dao-configuration/DaoCollateralWhitelist.sol
  contracts/dao-configuration/DaoConfiguration.sol
  contracts/staking/StakingPoolMediator.sol
  contracts/test/bond/DaoConfigurationBox.sol
  test/contracts/dao-configuration/dao-collateral-whitelist.test.ts
  test/contracts/dao-configuration/dao-configuration.test.ts
  test/event/dao-configuration/dao-configuration-events.ts
  test/event/dao-configuration/verify-dao-configuration-events.ts
  test/event/dao-configuration/verify-whitelist-events.ts
  test/event/dao-configuration/whitelist-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

update path
  test/event/dao-configuration/dao-configuration-events.ts
Due: npm run lint-ts -- --fix

natspec comments
  contracts/staking/StakingPoolCreator.sol
  contracts/staking/StakingPoolCurator.sol
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

fix: dead code
  contracts/treasury/ERC20Treasury.sol
  contracts/treasury/ERC721Treasury.sol
  contracts/treasury/ETHTreasury.sol
  contracts/treasury/Treasury.sol
Due: npm run lint-sol -- --fix

more dead code
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

fix: dead code (#329)
  contracts/treasury/ERC20Treasury.sol
  contracts/treasury/ERC721Treasury.sol
  contracts/treasury/ETHTreasury.sol
  contracts/treasury/Treasury.sol
  test/framework/verify.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
