Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: single contract for bond create and manage
  contracts/bond/AtomicBondManager.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  test/bond-manager.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

init method
  contracts/bond/BondSetupMediator.sol
Due: npm run lint-sol -- --fix

owner only
  contracts/bond/BondSetupMediator.sol
Due: npm run lint-sol -- --fix

BondMediator
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

doco
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

doco
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

mediator trimming
  contracts/bond/BondCreator.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

typo
  contracts/bond/BondCreator.sol
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

removing collateral whitelist from manager
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

add bond event
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

inverting eval
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

pausability for manager
  contracts/bond/Bond.sol
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

bond manager
  contracts/bond/Bond.sol
  contracts/bond/BondManager.sol
  contracts/bond/ISingleCollateralBond.sol
Due: npm run lint-sol -- --fix

junk test
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

feat: single contract for bond create and manage
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/ISingleCollateralBond.sol
Due: npm run lint-sol -- --fix

another
  config/logging.ts
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  hardhat.config.ts
  package-lock.json
  package.json
  scripts/create-bond.ts
  scripts/deploy.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: Rinkeby deploy scripts
  config/logging.ts
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  hardhat.config.ts
  package-lock.json
  package.json
  scripts/create-bond.ts
  scripts/deploy.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

ci: renovate instead of dependabot for npm
  .github/dependabot.yml
  renovate.json
Due: none

chore: dependency updates
  package-lock.json
  package.json
Due: none

ci: slither config file
  .github/workflows/main-push-pull.yml
  slither.json
Due: none

doco
  README.md
Due: none

ci: slither config file with npm caching
  .github/workflows/main-push-pull.yml
  README.md
  slither.json
Due: none

fix: removing redundnat sample script
  README.md
  scripts/sample-script.ts
Due: npm run lint-ts -- --fix

fix: removing redundant sample script
  README.md
  scripts/sample-script.ts
Due: npm run lint-ts -- --fix

fix: specificity in bond name
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralBond.sol
  test/contracts/bond/bond-contract.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

updating test names
  test/contracts/bond/single-collateral-bond-contract.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

missed one
  test/contracts/bond/single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

fix: specificity in bond name
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralBond.sol
  test/contracts/bond/bond-contract.ts
  test/contracts/bond/single-collateral-bond-contract.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: split of permissions
  contracts/bond/BondFactory.sol
  contracts/bond/Roles.sol
  test/bond-factory.test.ts
  test/contracts/bond/bond-factory-events.ts
  test/contracts/bond/verify-bond-factory-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: access control permissions
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

Three permission model
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

fix:bond aggregator
  contracts/bond/BondManager.sol
  contracts/bond/Roles.sol
Due: npm run lint-sol -- --fix

DAO as admin for bond and aggregator
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

reentrancy
  contracts/bond/BondManager.sol
Due: npm run lint-sol -- --fix

refactoring
  scripts/bond/create-bond.ts
  scripts/bond/deploy.ts
Due: npm run lint-ts -- --fix

feat: Multiple admin support
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/Roles.sol
  scripts/bond/create-bond.ts
  scripts/bond/deploy.ts
  test/bond-factory.test.ts
  test/contracts/bond/bond-factory-events.ts
  test/contracts/bond/verify-bond-factory-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: Access control ut
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/contracts/roles.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
