Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

add emergency withdrawal (#246)
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

move events up
  contracts/staking/FixedStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

bugfix
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

running scripts
  docs/deploy_local.md
  hardhat.config.ts
  scripts/local/create-managed-bond.ts
  scripts/local/whitelist-collateral.ts
Due: npm run lint-ts -- --fix

env var parsing
  scripts/local/create-dao.ts
  scripts/local/create-managed-bond.ts
  scripts/local/whitelist-collateral.ts
  scripts/utils/environment-variable.ts
Due: npm run lint-ts -- --fix

refactoring utils
  scripts/deploy/bond-deploy.ts
  scripts/utils/contract.ts
  scripts/utils/signer.ts
  scripts/versioning/check-contracts.ts
Due: npm run lint-ts -- --fix

managed bond script event parsing
  scripts/deploy/bond-deploy.ts
  scripts/local/create-managed-bond.ts
  scripts/utils/signer.ts
  scripts/utils/transaction-event-log.ts
  test/framework/event-logs.ts
Due: npm run lint-ts -- --fix

aligning all scripts on resuse
  scripts/local/create-dao.ts
  scripts/local/whitelist-collateral.ts
  scripts/utils/environment-variable.ts
  scripts/utils/transaction-event-log.ts
Due: npm run lint-ts -- --fix

updating doco
  README.md
  docs/deploy_local.md
Due: none

feat: bonds deploy scripts
  README.md
  docs/deploy_local.md
  scripts/bond/create-bond.ts
  scripts/deploy/bond-deploy.ts
  scripts/local/create-dao.ts
  scripts/local/create-managed-bond.ts
  scripts/local/whitelist-collateral.ts
  scripts/utils/contract.ts
  scripts/utils/environment-variable.ts
  scripts/utils/transaction-event-log.ts
  scripts/versioning/check-contracts.ts
  test/framework/event-logs.ts
Due: npm run lint-ts -- --fix

refactor
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

add deposit test
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  test/floating-staking.test.ts
  test/framework/time.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

basic withdraw deposit
  contracts/staking/FloatingStakingPool.sol
  test/floating-staking.test.ts
  test/framework/time.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: granting dao admin roles to creators their daos
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondConfiguration.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactor
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolBase.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

feat: add bond event
  contracts/bond/BondCurator.sol
  test/bond-curator.test.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/verify-curator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

ignore
  contracts/bond/BondCurator.sol
Due: npm run lint-sol -- --fix

fix: unused import
  scripts/utils/environment-variable.ts
Due: npm run lint-ts -- --fix

ignoring warning
  contracts/bond/BondCurator.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

feat: Add bond event
  contracts/bond/BondCurator.sol
  contracts/bond/BondMediator.sol
  test/bond-curator.test.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/verify-curator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: timelock multi-token reward bond
  contracts/bond/SingleCollateralBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

more events
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

maths
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

Slither dead code
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

Slither maths
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

slither: timestamp use
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

slither: call loop
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

abstracting the existing bond
  contracts/bond/BondFactory.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
  test/bond-curator.test.ts
  test/contracts/bond/single-collateral-bond-contract.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tpoe
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

require time to now onward
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

doco: time in seconds
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

converting to array of pool rewards
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

dynamic reward array
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

private helper
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

bloating contract
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/MetaDataStore.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
Due: npm run lint-sol -- --fix

unused import
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

unused import
  contracts/bond/ERC20SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

fixing tests
  hardhat.config.ts
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/verify-bond-creator-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
