Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

ini
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

reward debt calculation on deposit
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
Due: npm run lint-sol -- --fix

reward debt recalculation on transfer
  contracts/bond/Redeemable.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

state query
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

modifier for redemption timestamp
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

slither: ignoring timeblock
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

slither: unused functions
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

allow redemption update
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/Redeemable.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
Due: npm run lint-sol -- --fix

updating time lock
  contracts/bond/BondCurator.sol
  contracts/bond/SingleCollateralBond.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
Due: npm run lint-sol -- --fix

require check fix
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

slither: strcit equality
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

events inflating
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/bond-portal-events.ts
  test/contracts/bond/time-lock-multi-reward-bond-events.ts
Due: npm run lint-ts -- --fix

verify events
  test/contracts/bond/time-lock-multi-reward-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/bond/verify-time-lock-multi-reward-bond-events.ts
Due: npm run lint-ts -- --fix

it for bond rewards
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/TimeLockMultiRewardBondBox.sol
  test/contracts/bond/time-lock-multi-reward-bond-events.ts
  test/contracts/common/verify-erc20-transfer.ts
  test/framework/maths.ts
  test/framework/time.ts
  test/time-lock-multi-reward-bond.test.ts
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

allow redemption it
  contracts/bond/TimeLockMultiRewardBond.sol
  test/framework/time.ts
  test/single-collateral-multi-reward-bond.test.ts
  test/time-lock-multi-reward-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

deposit it
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
  test/single-collateral-multi-reward-bond.test.ts
  test/time-lock-multi-reward-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

upddate timelock it
  test/contracts/bond/time-lock-multi-reward-bond-events.ts
  test/single-collateral-multi-reward-bond.test.ts
Due: npm run lint-ts -- --fix

redeem it
  test/single-collateral-multi-reward-bond.test.ts
Due: npm run lint-ts -- --fix

final it
  contracts/bond/TimeLockMultiRewardBond.sol
  test/framework/events.ts
  test/single-collateral-multi-reward-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: timelock multi-token reward bond
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/MetaDataStore.sol
  contracts/bond/Redeemable.sol
  contracts/bond/SingleCollateralBond.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
  contracts/test/bond/TimeLockMultiRewardBondBox.sol
  hardhat.config.ts
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/bond-portal-events.ts
  test/contracts/bond/single-collateral-bond-contract.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/time-lock-multi-reward-bond-events.ts
  test/contracts/bond/verify-bond-creator-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/bond/verify-time-lock-multi-reward-bond-events.ts
  test/contracts/common/verify-erc20-transfer.ts
  test/erc20-single-collateral-bond.test.ts
  test/framework/events.ts
  test/framework/maths.ts
  test/framework/time.ts
  test/single-collateral-multi-reward-bond.test.ts
  test/time-lock-multi-reward-bond.test.ts
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: contract sizing task
  README.md
  hardhat.config.ts
  package-lock.json
  package.json
Due: npm run lint-ts -- --fix

fix: update to deploy scripts
  docs/deploy_local.md
  hardhat.config.ts
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/deploy-all.ts
  scripts/utils/contract.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-managed-bond.ts
  scripts/verify/whitelist-collateral.ts
  test/framework/contracts.ts
Due: npm run lint-ts -- --fix

fix: calldata in parameters, no logging in it
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
  contracts/test/bond/TimeLockMultiRewardBondBox.sol
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/utils/contract.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: calldata in parameters, no logging in tests
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralMultiRewardBond.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/test/bond/ERC20SingleCollateralBondBox.sol
  contracts/test/bond/TimeLockMultiRewardBondBox.sol
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/utils/contract.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: aligning tests with source structure
  .prettierignore
  package.json
  scripts/utils/transaction-event-log.ts
  scripts/versioning/check-contracts.ts
  scripts/versioning/check.ts
  test/cast/extended-erc20.ts
  test/cast/version.ts
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/contracts/bond/dao-bond-configuration.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/role-access-control.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/contracts/sweep/token-sweep.test.ts
  test/contracts/version.test.ts
  test/event/bond/access-control-messages.ts
  test/event/bond/bond-creator-events.ts
  test/event/bond/bond-curator-events.ts
  test/event/bond/bond-portal-events.ts
  test/event/bond/roles.ts
  test/event/bond/single-collateral-bond-contract.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/bond/whitelist-events.ts
  test/event/erc20/erc20-events.ts
  test/event/erc20/verify-erc20-events.ts
  test/event/erc721/erc721-events.ts
  test/event/erc721/verify-erc721-events.ts
  test/event/ownable/ownable-events.ts
  test/event/ownable/verify-ownable-event.ts
  test/event/upgradable/upgradable-events.ts
  test/event/upgradable/verify-upgradable-events.ts
Due: npm run lint-ts -- --fix

fix: index events
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/RoleMembership.sol
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

fix: indexing events
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/RoleMembership.sol
  contracts/bond/TimeLockMultiRewardBond.sol
Due: npm run lint-sol -- --fix

feat: switching emitted symbols to addresses
  contracts/bond/ERC20SingleCollateralBond.sol
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: moving events out of shared interfaces
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  test/event/bond/bond-creator-events.ts
  test/event/bond/bond-portal-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix typo
  contracts/bond/BondCurator.sol
  contracts/bond/BondMediator.sol
  contracts/bond/RoleAccessControl.sol
Due: npm run lint-sol -- --fix

fix: typo in admin
  contracts/bond/BondCurator.sol
  contracts/bond/BondMediator.sol
  contracts/bond/RoleAccessControl.sol
Due: npm run lint-sol -- --fix

Add Staking Contracts
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

building
  contracts/Roles.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/bond/RoleAccessControl.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
Due: npm run lint-sol -- --fix

make slither happier
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactor common daoId
  contracts/Dao.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/staking/DaoTreasuryWhitelist.sol
Due: npm run lint-sol -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
