Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint -- --fix

.lintstagedrc:

{
    "*.(md|mjs|js|json)": "npm run format",
    "*.sol": "npm run format",
    "*.ts":  "npm run lint -- --fix"
}

fix: external init
  contracts/bond/Bond.sol
Due: npm run format

feat: init function
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  package-lock.json
  package.json
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

fix: partial collateral, full redemption of deposit
  contracts/bond/Bond.sol
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

fix: partial collateral with slashing test
  contracts/bond/Bond.sol
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

chore: removing assignment to unread variables
  test/bond.test.ts
Due: npm run lint -- --fix

ci: code owners
  .github/CODEOWNERS
Due: none

chore: whitespace in step name
  .github/workflows/master-push-pull.yml
Due: none

chore: consistent whitespace in step name
  .github/workflows/master-push-pull.yml
Due: none

fix: record initial debt tokens
  contracts/bond/Bond.sol
Due: npm run format

removing double check
  contracts/bond/Bond.sol
Due: npm run format

ut
  test/bond.test.ts
Due: npm run lint -- --fix

fix: initial debt tokens field
  contracts/bond/Bond.sol
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

fix: data store for external apps
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

words
  test/bond.test.ts
Due: npm run lint -- --fix

optimisation
  contracts/bond/Bond.sol
Due: npm run format

fix: data field for external apps
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

chore: suffix of tokens for an erc20
  test/bond.test.ts
Due: npm run lint -- --fix

fix: public getter for has full collateral
  contracts/bond/Bond.sol
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

different number
  test/bond.test.ts
Due: npm run lint -- --fix

feat: collateral whitelist
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

some tests
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

box
  contracts/test/Box.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

tests
  test/bond-factory.test.ts
Due: npm run lint -- --fix

tests
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

exclude solc version from Slither
  .github/workflows/master-push-pull.yml
Due: none

feat: collateral whitelist
  .github/workflows/master-push-pull.yml
  contracts/bond/BondFactory.sol
  contracts/test/Box.sol
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

feat: expiry timestamp
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  contracts/bond/ExpiryTimestamp.sol
Due: npm run format

ten event parameters causes problems
  contracts/bond/BondFactory.sol
  package-lock.json
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

removing redundant todo
  test/bond-factory.test.ts
Due: npm run lint -- --fix

revert message
  contracts/bond/ExpiryTimestamp.sol
Due: npm run format

alphabetical
  contracts/bond/Bond.sol
  contracts/bond/ExpiryTimestamp.sol
Due: npm run format

expire function
  contracts/bond/Bond.sol
Due: npm run format

comments
  contracts/bond/ExpiryTimestamp.sol
Due: npm run format

testing tasks
  test/bond.test.ts
Due: npm run lint -- --fix

safe pausing
  contracts/bond/Bond.sol
Due: npm run format
