Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: test events folder to match source
  scripts/utils/transaction-event-log.ts
  test/contracts/performance-bonds/erc20-single-collateral-performance-bond.test.ts
  test/contracts/performance-bonds/performance-bond-curator.test.ts
  test/contracts/performance-bonds/performance-bond-factory.test.ts
  test/contracts/performance-bonds/performance-bond-mediator.test.ts
  test/contracts/performance-bonds/role-access-control.test.ts
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
  test/event/performance-bonds/access-control-messages.ts
  test/event/performance-bonds/meta-data-store-events.ts
  test/event/performance-bonds/performance-bond-creator-events.ts
  test/event/performance-bonds/performance-bond-curator-events.ts
  test/event/performance-bonds/performance-bond-mediator-events.ts
  test/event/performance-bonds/redeemable-events.ts
  test/event/performance-bonds/roles.ts
  test/event/performance-bonds/single-collateral-performance-bond-contract.ts
  test/event/performance-bonds/single-collateral-performance-bond-events.ts
  test/event/performance-bonds/time-lock-multi-reward-performance-bond-events.ts
  test/event/performance-bonds/verify-meta-data-store-events.ts
  test/event/performance-bonds/verify-performance-bond-creator-events.ts
  test/event/performance-bonds/verify-performance-bond-curator-events.ts
  test/event/performance-bonds/verify-performance-bond-mediator-events.ts
  test/event/performance-bonds/verify-redeemable-events.ts
  test/event/performance-bonds/verify-single-collateral-performance-bond-events.ts
  test/event/performance-bonds/verify-time-lock-multi-reward-performance-bond-events.ts
Due: npm run lint-ts -- --fix

fix: test events folder to match source (#350)
  scripts/utils/transaction-event-log.ts
  test/contracts/performance-bonds/erc20-single-collateral-performance-bond.test.ts
  test/contracts/performance-bonds/performance-bond-curator.test.ts
  test/contracts/performance-bonds/performance-bond-factory.test.ts
  test/contracts/performance-bonds/performance-bond-mediator.test.ts
  test/contracts/performance-bonds/role-access-control.test.ts
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
  test/event/performance-bonds/access-control-messages.ts
  test/event/performance-bonds/meta-data-store-events.ts
  test/event/performance-bonds/performance-bond-creator-events.ts
  test/event/performance-bonds/performance-bond-curator-events.ts
  test/event/performance-bonds/performance-bond-mediator-events.ts
  test/event/performance-bonds/redeemable-events.ts
  test/event/performance-bonds/roles.ts
  test/event/performance-bonds/single-collateral-performance-bond-contract.ts
  test/event/performance-bonds/single-collateral-performance-bond-events.ts
  test/event/performance-bonds/time-lock-multi-reward-performance-bond-events.ts
  test/event/performance-bonds/verify-meta-data-store-events.ts
  test/event/performance-bonds/verify-performance-bond-creator-events.ts
  test/event/performance-bonds/verify-performance-bond-curator-events.ts
  test/event/performance-bonds/verify-performance-bond-mediator-events.ts
  test/event/performance-bonds/verify-redeemable-events.ts
  test/event/performance-bonds/verify-single-collateral-performance-bond-events.ts
  test/event/performance-bonds/verify-time-lock-multi-reward-performance-bond-events.ts
Due: npm run lint-ts -- --fix

use safeERC20 for transfer and transferFrom (#345)
  contracts/performance-bonds/ERC20SingleCollateralPerformanceBond.sol
  contracts/performance-bonds/TimeLockMultiRewardPerformanceBond.sol
  contracts/sweep/SweepERC20.sol
Due: npm run lint-sol -- --fix

removed awaut
  .husky/pre-commit
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/deploy-all.ts
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
Due: npm run lint-ts -- --fix

remove await
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
Due: npm run lint-ts -- --fix

add deploy scripts
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
  scripts/deploy/staking-pool-deploy.ts
Due: npm run lint-ts -- --fix

add script
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
  scripts/deploy/staking-pool-deploy.ts
Due: npm run lint-ts -- --fix

use constructor
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix last super user removal (#343)
  contracts/RoleAccessControl.sol
  test/contracts/performance-bonds/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove console log
  test/contracts/staking/staking-factory.test.ts
Due: npm run lint-ts -- --fix

create verify scripts
  docs/deploy_remote.md
  scripts/verify/create-bond-dao.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-staking-pool-dao.ts
  scripts/verify/create-staking-pool.ts
  scripts/verify/whitelist-bond-collateral.ts
  scripts/verify/whitelist-collateral.ts
  scripts/verify/whitelist-staking-pool-collateral.ts
Due: npm run lint-ts -- --fix

feat: use constructor in staking pool factory (#353)
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

verify scripts
  docs/deploy_local.md
  docs/deploy_remote.md
  scripts/utils/transaction-event-log.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-managed-bond.ts
  scripts/verify/create-staking-pool.ts
Due: npm run lint-ts -- --fix

remove comments
  scripts/verify/create-dao.ts
  scripts/verify/create-staking-pool.ts
Due: npm run lint-ts -- --fix

feat: add staking pool deploy script (#352)
  docs/deploy_local.md
  docs/deploy_remote.md
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
  scripts/deploy/staking-pool-deploy.ts
  scripts/utils/transaction-event-log.ts
  scripts/verify/create-bond-dao.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-managed-bond.ts
  scripts/verify/create-staking-pool-dao.ts
  scripts/verify/create-staking-pool.ts
  scripts/verify/whitelist-bond-collateral.ts
  scripts/verify/whitelist-collateral.ts
  scripts/verify/whitelist-staking-pool-collateral.ts
Due: npm run lint-ts -- --fix

import correct deploy WITH verify and pass tokensweepbeneficiary to no-etherscan-deploy constructor
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
Due: npm run lint-ts -- --fix

import correct deploy WITH verify and pass tokensweepbeneficiary to no-etherscan-deploy constructor (#354)
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
Due: npm run lint-ts -- --fix

now delete state after loop
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

delete vs. false
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

add set metadata
  contracts/staking/StakingPoolMediator.sol
Due: npm run lint-sol -- --fix

add staking pool mediator tests + verifications
  test/contracts/staking/staking-mediator.test.ts
  test/event/staking/staking-mediator-events.ts
  test/event/staking/verify-staking-mediator-events.ts
Due: npm run lint-ts -- --fix

fix: enforceUniqueRewardTokens (#357)
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove unused imports
  test/contracts/staking/staking-mediator.test.ts
Due: npm run lint-ts -- --fix

remove bond wording
  test/event/staking/staking-mediator-events.ts
Due: npm run lint-ts -- --fix

bugfix: add setMetadata() to StakingPoolMediator (#358)
  contracts/staking/StakingPoolMediator.sol
  test/contracts/staking/staking-mediator.test.ts
  test/event/staking/staking-mediator-events.ts
  test/event/staking/verify-staking-mediator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

config object
  contracts/staking/StakingPoolFactory.sol
  scripts/deploy/deploy-all.ts
  test/event/staking/staking-factory-events.ts
  test/event/staking/verify-staking-factory-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

test for config
  scripts/deploy/deploy-all.ts
  test/event/staking/staking-factory-events.ts
Due: npm run lint-ts -- --fix

tests
  test/event/staking/staking-factory-events.ts
Due: npm run lint-ts -- --fix

fix BigNumber types
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking-mediator.test.ts
  test/event/staking/staking-factory-events.ts
  test/event/staking/verify-staking-factory-events.ts
Due: npm run lint-ts -- --fix

opt chaining
  test/event/staking/staking-factory-events.ts
Due: npm run lint-ts -- --fix

use local var for config
  test/event/staking/staking-factory-events.ts
Due: npm run lint-ts -- --fix

use typechain type for config and BigNumberish
  test/contracts/staking/staking-factory.test.ts
  test/event/staking/staking-factory-events.ts
  test/event/staking/verify-staking-factory-events.ts
Due: npm run lint-ts -- --fix

fix: emit config object (#366)
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking-mediator.test.ts
  test/event/staking/staking-factory-events.ts
  test/event/staking/verify-staking-factory-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add _isMinTotalPoolStakeMet() and tests
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

use consts everywhere
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

clean
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

call _setMetadata in createDao
  contracts/staking/StakingPoolMediator.sol
  test/contracts/staking/staking-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add to verify script
  docs/deploy_local.md
  docs/deploy_remote.md
  scripts/utils/environment-variable.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-staking-pool-dao.ts
Due: npm run lint-ts -- --fix

empty string test
  docs/deploy_local.md
  docs/deploy_remote.md
  test/contracts/staking/staking-mediator.test.ts
Due: npm run lint-ts -- --fix

renaming
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
