Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

function can be external
  contracts/bond/BondCurator.sol
  contracts/bond/RoleMembership.sol
Due: npm run lint-sol -- --fix

Access control (#244)
  contracts/bond/Bond.sol
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/RoleAccessControl.sol
  contracts/bond/RoleMembership.sol
  contracts/bond/Roles.sol
  contracts/test/bond/RoleAccessControlBox.sol
  test/bond-access-control.test.ts
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-access-control-messages.ts
  test/contracts/bond/roles.ts
  test/erc20-single-collateral-bond.test.ts
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: role based access tests
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

dynamic revert message an duplicate role grant
  contracts/bond/RoleMembership.sol
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/access-control-messages.ts
  test/contracts/bond/bond-access-control-messages.ts
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

clean code
  contracts/bond/RoleMembership.sol
Due: npm run lint-sol -- --fix

skeletoning it
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/access-control-messages.ts
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

access control coverage over remove Dao admin
  test/contracts/bond/access-control-messages.ts
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

more access control message ut
  test/contracts/bond/access-control-messages.ts
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

dao admin ut
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

system admin ut
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

correcting test description
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

super user access control ut
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

clean code: removed unecessary cating
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

dao creator access control ut
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

access control dao meeple tests
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

removing TODOs
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

fix: role based access control tests
  contracts/bond/RoleMembership.sol
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/access-control-messages.ts
  test/contracts/bond/bond-access-control-messages.ts
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: accessors for quering an accounts role level
  contracts/bond/RoleAccessControl.sol
Due: npm run lint-sol -- --fix

tests
  contracts/bond/RoleAccessControl.sol
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: access control query support
  contracts/bond/RoleAccessControl.sol
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: bonds deploy scripts
  README.md
  docs/deploy_local.md
  hardhat.config.ts
  scripts/bond/create-bond.ts
  scripts/deploy/bond-deploy.ts
  scripts/local/create-bond.ts
  scripts/local/create-dao.ts
Due: npm run lint-ts -- --fix

Add Staking Contracts
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

create registry
  contracts/DaoRegistry.sol
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

refactor common daoId
  contracts/Dao.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/staking/DaoTreasuryWhitelist.sol
Due: npm run lint-sol -- --fix

more common functionality
  contracts/staking/FixedStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

daoWhitelist interface
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  contracts/staking/StakingAccessControl.sol
Due: npm run lint-sol -- --fix

building
  contracts/Dao.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/staking/DaoTreasuryWhitelist.sol
Due: npm run lint-sol -- --fix

dao registry
  contracts/Dao.sol
  contracts/DaoRegistry.sol
  contracts/staking/Roles.sol
Due: npm run lint-sol -- --fix

building
  contracts/Roles.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/bond/RoleAccessControl.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
Due: npm run lint-sol -- --fix

implemented new access control - compiling
  contracts/RoleAccessControl.sol
  contracts/RoleMembership.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/StakingAccessControl.sol
  contracts/test/bond/RoleAccessControlBox.sol
Due: npm run lint-sol -- --fix

remove dao files
  contracts/Dao.sol
  contracts/DaoRegistry.sol
Due: npm run lint-sol -- --fix

emergency rewards function
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

rebased main
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

remove factories
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

refactor RoleAccessControl and Initializable into base class
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

add initializer modifier
  contracts/staking/DaoStakingFactory.sol
Due: npm run lint-sol -- --fix

implemented new access control - compiling
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
Due: npm run lint-sol -- --fix

add emergency withdrawal
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

remove files
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPoolFactory.sol
Due: npm run lint-sol -- --fix

inheritance
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
Due: npm run lint-sol -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
