Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

external
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

add NoRewards event
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
  test/event/staking/staking-events.ts
  test/event/staking/verify-staking-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

bugfix: MUST withdraw stake first
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

afkbytes review incorporated
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

make slither happy
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

fix comment
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

revert message
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

revert message
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

revert comment
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

admin sweep balanceOf
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

gte max total stake
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

change deposit function sig
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

using safe erc20
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

IERC20 for reward token
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolLib.sol
Due: npm run lint-sol -- --fix

add get user function
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

get user
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

refactor common _calculateRewardAmounts
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

dont delete rewards data emergency mdoe
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

chore(deps): update all dependencies
  package-lock.json
  package.json
Due: none

fix: verifying both the bond event and logs
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

full collateral events
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

feat/add staking contracts (#242)
  contracts/RoleAccessControl.sol
  contracts/RoleMembership.sol
  contracts/Roles.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolLib.sol
  contracts/test/bond/RoleAccessControlBox.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
  test/event/staking/staking-events.ts
  test/event/staking/staking-factory-events.ts
  test/event/staking/verify-staking-events.ts
  test/event/staking/verify-staking-factory-events.ts
  test/framework/time.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add versioning and checks
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  scripts/versioning/check-contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove only
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

debt issue event
  contracts/bond/ERC20SingleCollateralBond.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

deposit event
  contracts/bond/ERC20SingleCollateralBond.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

expire event
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

partial collateral event
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

redemption event
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

slask event
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

withdraw collateral event
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

add versioning and checks (#303)
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  scripts/versioning/check-contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove only (#304)
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

fix: also verifying the event log for Bond events (#307)
  contracts/bond/ERC20SingleCollateralBond.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: adds daoId to whitelist collateral event
  contracts/bond/DaoBondCollateralWhitelist.sol
Due: npm run lint-sol -- --fix

fix: timestamps to uint128
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolLib.sol
Due: npm run lint-sol -- --fix

fix: consistent variable naming
  test/contracts/bond/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

fix: consistent variable naming (#311)
  test/contracts/bond/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

feat: adds daoId to whitelist collateral event (#310)
  contracts/bond/DaoBondCollateralWhitelist.sol
Due: npm run lint-sol -- --fix

fix: including dao id in the whitelist events
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/bond/whitelist-events.ts
Due: npm run lint-ts -- --fix
