Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint -- --fix

.lintstagedrc:

{
    "*.(md|mjs|js|json)": "npm run format",
    "*.sol": "npm run format",
    "*.ts":  "npm run lint -- --fix"
}

it
  contracts/bond/Bond.sol
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

ut
  test/bond.test.ts
Due: npm run lint -- --fix

tests
  test/bond.test.ts
Due: npm run lint -- --fix

feat: expiry guarded function to move collateral to treasury
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  contracts/bond/ExpiryTimestamp.sol
  package-lock.json
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

fix: solhint
  .lintstagedrc
  .solhint.json
  .solhintignore
  package-lock.json
  package.json
Due: none

mo linting
  .github/workflows/master-push-pull.yml
Due: none

fixes
  .github/workflows/master-push-pull.yml
Due: none

errors
  .solhint.json
Due: none

back to warnings
  .solhint.json
Due: none

warn
  .solhint.json
Due: none

fix: solhint
  .github/workflows/master-push-pull.yml
  .lintstagedrc
  .solhint.json
  .solhintignore
  package-lock.json
  package.json
Due: none

fix: ci centric Solidity style enforcement
  .solhint.json
Due: none

fix: Solhint enforce Solidity style
  .solhint.json
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/test/Box.sol
Due: npm run format

fixing tests
  test/bond-factory.test.ts
  test/bond.test.ts
Due: npm run lint -- --fix

fix: Solhint enforced Solidity styling
  .solhint.json
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/test/Box.sol
  test/bond-factory.test.ts
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

fix: BitDAO test dependency from the token repo, no longer local duplicate
  .github/workflows/master-push-pull.yml
  .solhintignore
  contracts/BitDAO.sol
  contracts/test/BitDAO.sol
  package-lock.json
  package.json
Due: npm run format

fix: refactoring redeemable into an abstract contract
  contracts/bond/Bond.sol
  contracts/bond/Redeemable.sol
Due: npm run format

doco
  contracts/bond/Redeemable.sol
Due: npm run format

fix: abstracting whitelist from factory
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/Redeemable.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

natspec
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

naming
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

fix: abstract the collateral whitelist from BondFactory
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/Redeemable.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

fix: remove from whitelist
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

fix: BondFactory permission ut
  test/bond-factory.test.ts
Due: npm run lint -- --fix

feat: treasury identical check and ut
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

feat: BondFactory permission and treasury ut
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
Due: npm run format, npm run lint -- --fix

fix: knoweledge of slashing
  contracts/bond/Bond.sol
Due: npm run format

fix: collateral ut
  contracts/bond/Bond.sol
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

fix: debt tokens ut
  test/bond.test.ts
Due: npm run lint -- --fix

feat: knowledge of slashin
  contracts/bond/Bond.sol
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

fix: consistency in variable naming
  contracts/bond/Bond.sol
Due: npm run format

ci: matching prefix to applied branch
  .github/workflows/main-push-pull.yml
Due: none

ci: devops owns github directory
  .github/CODEOWNERS
Due: none

fix: doc to warn of intentional time usage
  contracts/bond/ExpiryTimestamp.sol
Due: npm run format
