Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

fix: init pauseable
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

fix: limited size contract
  hardhat.config.ts
Due: npm run lint-ts -- --fix

fix: enabling slither naming convention detector
  contracts/bond/BondAccessControl.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/bond/MetaDataStore.sol
  contracts/bond/Redeemable.sol
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/sweep/TokenSweep.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  slither.json
Due: npm run lint-sol -- --fix

Add Staking Contracts
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

more common functionality
  contracts/staking/FixedStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

refactor common daoId
  contracts/Dao.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/staking/DaoTreasuryWhitelist.sol
Due: npm run lint-sol -- --fix

fix: ignoring no-misused-promisees eslint rule
  .eslintrc
  package-lock.json
  package.json
Due: none

chore(deps): oz contracts
  package-lock.json
  package.json
Due: none

chore(deps): update all dependencies
  .github/workflows/main-push-pull.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

fix: reverting the dependency that breaks Slither
  package-lock.json
  package.json
Due: none

fix: dependabot replaced by renovate
  .github/dependabot.yml
Due: none

feat: moving bond manaement into the mediator
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/bond/Roles.sol
  contracts/test/bond/BondCuratorBox.sol
  scripts/bond/deploy.ts
  test/bond-access-control.test.ts
  test/bond-curator.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/roles.ts
  test/contracts/bond/verify-curator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: tests
  test/bond-curator.test.ts
Due: npm run lint-ts -- --fix

building
  contracts/staking/DaoTreasuryWhitelist.sol
Due: npm run lint-sol -- --fix

unused imports
  test/bond-curator.test.ts
Due: npm run lint-ts -- --fix

comments
  contracts/bond/BondCurator.sol
Due: npm run lint-sol -- --fix

feat: moving bond management into the mediator
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/bond/Roles.sol
  contracts/test/bond/BondCuratorBox.sol
  scripts/bond/deploy.ts
  test/bond-access-control.test.ts
  test/bond-curator.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/roles.ts
  test/contracts/bond/verify-curator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add events
  contracts/bond/DaoBondCollateralWhitelist.sol
Due: npm run lint-sol -- --fix

added verification of event
  test/bond-mediator.test.ts
  test/contracts/bond/verify-whitelist-events.ts
  test/contracts/bond/whitelist-events.ts
Due: npm run lint-ts -- --fix

removed symbol from event
  contracts/bond/DaoBondCollateralWhitelist.sol
  test/bond-mediator.test.ts
  test/contracts/bond/verify-whitelist-events.ts
  test/contracts/bond/whitelist-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix function names and linter warnings
  test/contracts/bond/verify-whitelist-events.ts
  test/contracts/bond/whitelist-events.ts
Due: npm run lint-ts -- --fix

added verification of remove
  contracts/bond/DaoBondCollateralWhitelist.sol
  test/bond-mediator.test.ts
  test/contracts/bond/verify-whitelist-events.ts
  test/contracts/bond/whitelist-events.ts
  test/dao-bond-collateral-whitelist.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

comments
  test/contracts/bond/verify-whitelist-events.ts
Due: npm run lint-ts -- --fix

feat: add whitelist events (#230)
  contracts/bond/DaoBondCollateralWhitelist.sol
  test/contracts/bond/verify-whitelist-events.ts
  test/contracts/bond/whitelist-events.ts
  test/dao-bond-collateral-whitelist.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add reason field
  contracts/bond/BondManager.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/Redeemable.sol
  contracts/bond/SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

existing tests passing
  contracts/bond/Redeemable.sol
  test/bond-curator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

more specific string
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

add verification of reason
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

no shadowing
  contracts/bond/ERC20SingleCollateralBond.sol
  test/bond-curator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

redemption reason shadowing
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

assert reason() getter
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

rebase main
  test/bond-curator.test.ts
Due: npm run lint-ts -- --fix

remove slither disable
  contracts/bond/BondManager.sol
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

make slither happy
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix
