Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

seperate out contracts from checking
  scripts/versioning/check-contracts.ts
Due: npm run lint-ts -- --fix

add unit test
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

added test version file
  contracts/test/UpgradedVersion.sol
  scripts/versioning/check.ts
  test/bond-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

ordering permission tests
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

upgrade to dummy
  contracts/test/UpgradedVersion.sol
  test/bond-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

removing shadowing
  contracts/bond/ERC20SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

test: add bond manager test
  test/bond-manager.test.ts
  test/contracts/bond/bond-manager-events.ts
  test/contracts/bond/verify-manager-events.ts
  test/framework/verify.ts
Due: npm run lint-ts -- --fix

fixing tests
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

naming
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

tests to come
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

lint passing
  contracts/Version.sol
  contracts/test/MockUpgradedBondFactory.sol
  contracts/test/UpgradedVersion.sol
  test/bond-factory.test.ts
  test/contracts/ownable/ownable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

code reuse
  test/contracts/bond/verify-manager-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

unpause ut
  test/bond-manager.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

manager pause ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

skeleton
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

only when managing ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

only when not paused
  contracts/bond/BondManager.sol
  test/bond-manager.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

code reuse
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

permission ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

bond redemption ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

bond pausing ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

bond set treasury ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

set meta data ut
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

test name
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

removing deposit wrapping
  contracts/bond/BondManager.sol
  test/bond-manager.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: mediator and manager fixes and tests
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/ExpiryTimestamp.sol
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-manager-events.ts
  test/contracts/bond/verify-manager-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/ownable/ownable-events.ts
  test/contracts/ownable/verify-ownable-event.ts
  test/erc20-single-collateral-bond.test.ts
  test/framework/event-logs.ts
  test/framework/verify.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

use Box for testing verison upgradeability
  contracts/test/Box.sol
  contracts/test/MockUpgradedBondFactory.sol
  test/bond-factory.test.ts
  test/version.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

upgrading example Box contract
  contracts/test/BaseBox.sol
  contracts/test/BoxExtension.sol
  package.json
  test/bond-factory.test.ts
  test/version.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix linter issues, remove comment
  scripts/versioning/check.ts
  test/contracts/ownable/ownable-events.ts
Due: npm run lint-ts -- --fix

fix: case correction to Windranger
  README.md
Due: none

fix: scripting change support for windows
  package.json
Due: none

fix: scripting change to support windows
  package.json
Due: none

chore: aligning file names with source of events
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/verify-bond-creator-events.ts
  test/contracts/bond/verify-curator-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

updated gitignore
  .eslintrc
  .github/workflows/release.yml
  .gitignore
  contracts/test/BaseBox.sol
  contracts/test/Box.sol
  contracts/test/BoxExtension.sol
  contracts/treasury/ERC20Treasury.sol
  package.json
  scripts/versioning/check-contracts.ts
  scripts/versioning/check.ts
  test/version.test.ts
  tsconfig.json
  typings/is-semver.d.ts
  yarn.lock
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

reset estlintrc
  .eslintrc
Due: none

remove versioning from bond factory
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

obnoxiously long version tag test
  contracts/test/BaseBox.sol
  contracts/test/Box.sol
  contracts/test/BoxExtension.sol
  test/version.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove versioning
  package.json
Due: none

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
