Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactor
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

staking factory tests passing
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/verify-staking-factory-events.ts
  test/staking-factory.test.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

make slither happier
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

more
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

make slither pass
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

more merging
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

building
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

added pause test
  test/staking-factory.test.ts
Due: npm run lint-ts -- --fix

clean
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

remove comment about refactor
  contracts/staking/StakingPoolFactory.sol
Due: npm run lint-sol -- --fix

add pure computation functions
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

bug in tests
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolLib.sol
  coverage.json
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add coverage tool (#288)
  .solcover.js
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  coverage.json
  hardhat.config.ts
  package.json
  tsconfig.json
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

verifyInitializeRewards
  contracts/staking/StakingPool.sol
  coverage.json
  test/contracts/staking/staking-events.ts
  test/contracts/staking/verify-staking-events.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

initialization tests
  contracts/staking/StakingPool.sol
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

clean
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolLib.sol
Due: npm run lint-sol -- --fix

insufficient allowance test
  test/staking.test.ts
Due: npm run lint-ts -- --fix

remove cached files
  .gitignore
  contracts/staking/StakingPool.sol
  coverage.json
Due: npm run lint-sol -- --fix

remove function
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

staking pool factory tests passing
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolLib.sol
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/verify-staking-factory-events.ts
  test/staking-factory.test.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

pr review
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

rebased main
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

errors
  .gitignore
  .husky/pre-commit
  contracts/staking/StakingPool.sol
  hardhat.config.ts
  package.json
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/verify-staking-factory-events.ts
  test/staking-factory.test.ts
  tsconfig.json
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests passing
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-events.ts
  test/contracts/staking/staking-factory-events.ts
  test/framework/time.ts
  test/staking-factory.test.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests passing
  .husky/pre-commit
Due: none

remove solcover
  .solcover.js
Due: none

clean
  contracts/bond/BondFactory.sol
  test/contracts/staking/verify-staking-factory-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

enum
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolLib.sol
  test/contracts/staking/staking-events.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests compiling
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolLib.sol
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

all tests passing
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add currentRewards function
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

rename to benefactor
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

add getters
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

no shadowing
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

bugfix
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolLib.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests passing
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolLib.sol
  test/contracts/staking/staking-events.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

withdraw rewards
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

renaming
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
  test/event/staking/staking-events.ts
  test/event/staking/staking-factory-events.ts
  test/event/staking/verify-staking-events.ts
  test/event/staking/verify-staking-factory-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
