Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

more
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

remove unused import
  test/contracts/staking/verify-staking-events.ts
  test/floating-staking.test.ts
  test/framework/time.ts
Due: npm run lint-ts -- --fix

staking factory tests passing
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/verify-staking-factory-events.ts
  test/staking-factory.test.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

more tests
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  test/contracts/staking/floating-staking-events.ts
  test/contracts/staking/verify-staking-events.ts
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

clean
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

refactor
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-events.ts
  test/contracts/staking/verify-staking-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

staking pool verification code
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/verify-staking-factory-events.ts
  test/staking-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: event parameter for instigator
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/RoleAccessControl.sol
  contracts/bond/RoleMembership.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/event/bond/bond-creator-events.ts
  test/event/bond/bond-curator-events.ts
  test/event/bond/bond-portal-events.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/bond/whitelist-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: instigator event parameters
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/RoleAccessControl.sol
  contracts/bond/RoleMembership.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/event/bond/bond-creator-events.ts
  test/event/bond/bond-curator-events.ts
  test/event/bond/bond-portal-events.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-bond-creator-events.ts
  test/event/bond/verify-curator-events.ts
  test/event/bond/verify-single-collateral-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-whitelist-events.ts
  test/event/bond/whitelist-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: set meta data event
  contracts/bond/MetaDataStore.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/meta-data-store-events.ts
  test/event/bond/verify-meta-data-store-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: redeemable event
  contracts/bond/Redeemable.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/redeemable-events.ts
  test/event/bond/verify-redeemable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat set treasury event
  contracts/bond/DaoBondConfiguration.sol
  test/contracts/bond/dao-bond-configuration.test.ts
  test/event/bond/dao-bond-configuration-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-redeemable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: set treasury event
  contracts/bond/DaoBondConfiguration.sol
  test/contracts/bond/dao-bond-configuration.test.ts
  test/event/bond/dao-bond-configuration-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-redeemable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add coverage tool
  .solcover.js
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  coverage.json
  hardhat.config.ts
  package.json
  tsconfig.json
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: removing unused import
  contracts/sweep/SweepERC20.sol
Due: npm run lint-sol -- --fix

feat: applying ERC20 token sweep across bond contracts
  contracts/bond/BondFactory.sol
  contracts/bond/RoleMembership.sol
  contracts/sweep/SweepERC20.sol
  contracts/sweep/TokenSweep.sol
  test/contracts/bond/bond-factory.test.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/sweep/sweep-erc20-events.ts
  test/event/sweep/token-sweeo-events.ts
  test/event/sweep/verify-sweep-erc20-events.ts
  test/event/sweep/verify-token-sweep-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

ERC20 token sweep to bond mediator
  contracts/bond/BondMediator.sol
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

ERC20 token sweep to bond
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

bond propagation
  contracts/bond/BondCurator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralBond.sol
  test/contracts/bond/bond-curator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

slither warnings
  contracts/sweep/TokenSweep.sol
Due: npm run lint-sol -- --fix

feat: ERC20 token sweep
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/RoleMembership.sol
  contracts/bond/SingleCollateralBond.sol
  contracts/sweep/SweepERC20.sol
  contracts/sweep/TokenSweep.sol
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/sweep/sweep-erc20-events.ts
  test/event/sweep/token-sweeo-events.ts
  test/event/sweep/verify-sweep-erc20-events.ts
  test/event/sweep/verify-token-sweep-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: trimming BondFactory size
  contracts/bond/BondFactory.sol
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: swithcing BondFactory to use ownable and not upgradable to save size
  contracts/bond/BondMediator.sol
  test/contracts/bond/bond-mediator.test.ts
  test/event/bond/bond-mediator-events.ts
  test/event/bond/bond-portal-events.ts
  test/event/bond/verify-bond-mediator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

constructor
  contracts/bond/BondFactory.sol
  docs/deploy_local.md
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/deploy/deploy-all.ts
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

typo
  test/contracts/bond/bond-factory.test.ts
Due: npm run lint-ts -- --fix

feat: trimming BondFactory size
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  docs/deploy_local.md
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/deploy/deploy-all.ts
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
  test/event/bond/bond-mediator-events.ts
  test/event/bond/bond-portal-events.ts
  test/event/bond/verify-bond-mediator-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: removing shadowing of contract name with event
  contracts/bond/Redeemable.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/redeemable-events.ts
  test/event/bond/redeemable-update-events.ts
  test/event/bond/verify-redeemable-events.ts
  test/event/bond/verify-redeemable-update-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

naming
  contracts/bond/Redeemable.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/redeemable-events.ts
  test/event/bond/verify-redeemable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: removing shadowing of contract name with event
  contracts/bond/Redeemable.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/redeemable-events.ts
  test/event/bond/verify-redeemable-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: DAO meta data bucket
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/contracts/bond/bond-mediator.test.ts
  test/contracts/bond/dao-bond-configuration.test.ts
  test/event/bond/dao-bond-configuration-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: consistent event transition naming
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

meta data update
  contracts/bond/MetaDataStore.sol
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/event/bond/meta-data-store-events.ts
  test/event/bond/verify-meta-data-store-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

more renaming
  contracts/bond/DaoBondConfiguration.sol
  test/contracts/bond/dao-bond-configuration.test.ts
  test/event/bond/dao-bond-configuration-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: consistent event names for state changes
  contracts/bond/DaoBondConfiguration.sol
  contracts/bond/MetaDataStore.sol
  contracts/bond/TimeLockMultiRewardBond.sol
  test/contracts/bond/dao-bond-configuration.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/event/bond/dao-bond-configuration-events.ts
  test/event/bond/meta-data-store-events.ts
  test/event/bond/time-lock-multi-reward-bond-events.ts
  test/event/bond/verify-dao-bond-configuration-events.ts
  test/event/bond/verify-meta-data-store-events.ts
  test/event/bond/verify-time-lock-multi-reward-bond-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

chore(deps): update all dependencies
  .github/workflows/main-push-pull.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: none

fix: updating import paths
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/event/bond/bond-creator-events.ts
  test/event/bond/bond-curator-events.ts
  test/event/bond/bond-mediator-events.ts
  test/event/bond/dao-bond-configuration-events.ts
  test/event/bond/meta-data-store-events.ts
  test/event/bond/redeemable-events.ts
  test/event/bond/single-collateral-bond-events.ts
  test/event/bond/time-lock-multi-reward-bond-events.ts
  test/event/bond/whitelist-events.ts
  test/event/erc20/erc20-events.ts
  test/event/erc721/erc721-events.ts
  test/event/ownable/ownable-events.ts
  test/event/sweep/sweep-erc20-events.ts
  test/event/sweep/token-sweeo-events.ts
  test/event/upgradable/upgradable-events.ts
Due: npm run lint-ts -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
