Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

pr feedback
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  contracts/bond/Redeemable.sol
  test/bond-curator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

make slither happy
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

feat: add reason field to allow redemption (#218)
  contracts/bond/BondCurator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/Redeemable.sol
  contracts/bond/SingleCollateralBond.sol
  test/bond-curator.test.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add slash reason field
  contracts/bond/BondManager.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

existing tests passing
  test/bond-curator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

add verification of Slash event
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

fix lint issue
  test/bond-curator.test.ts
Due: npm run lint-ts -- --fix

add struct
  contracts/bond/ERC20SingleCollateralBond.sol
  test/bond-curator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

rebased main
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  test/bond-curator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

change struct name
  contracts/bond/ERC20SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

fix test
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

correct naming
  contracts/bond/ERC20SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

tests passing
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

unnecessary length field
  contracts/bond/ERC20SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

feat: add slash reason field (#219)
  contracts/bond/BondCurator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/SingleCollateralBond.sol
  test/bond-curator.test.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: permissioning
  contracts/bond/Roles.sol
Due: npm run lint-sol -- --fix

roles
  contracts/bond/BondAccessControl.sol
  contracts/bond/Roles.sol
Due: npm run lint-sol -- --fix

access control contract
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

consistent casing
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
Due: npm run lint-sol -- --fix

structs
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

typo
  contracts/bond/BondMediator.sol
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

moving the structs into domain lib
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

compiling tests
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

test compiling
  contracts/bond/Bond.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/Roles.sol
  test/bond-access-control.test.ts
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/roles.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

modifiers
  contracts/bond/BondAccessControl.sol
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

typo
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

dao admins manage themseleves
  contracts/bond/BondAccessControl.sol
Due: npm run lint-sol -- --fix

accessors
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  contracts/bond/DaoAccessControl.sol
  test/bond-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

dropping the dynamic admin roles
  contracts/bond/BondAccessControl.sol
  contracts/bond/DaoAccessControl.sol
  test/bond-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

mostly running tests
  contracts/bond/BondAccessControl.sol
  contracts/bond/DaoAccessControl.sol
  test/bond-access-control.test.ts
  test/bond-curator.test.ts
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

unused events
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

moving UPPS management
  contracts/bond/BondCurator.sol
  contracts/bond/BondMediator.sol
  test/bond-curator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

unused methods
  contracts/bond/DaoAccessControl.sol
Due: npm run lint-sol -- --fix

renaming
  contracts/bond/RoleAccessControl.sol
  contracts/bond/RoleMembership.sol
  test/contracts/bond/bond-access-control-messages.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

renaming bondaccesscontrol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/bond/RoleAccessControl.sol
  contracts/test/bond/BondAccessControlBox.sol
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

renaming to role membership
  contracts/bond/RoleAccessControl.sol
  contracts/bond/RoleMembership.sol
  contracts/test/bond/RoleAccessControlBox.sol
Due: npm run lint-sol -- --fix

revert messages including role
  contracts/bond/RoleMembership.sol
Due: npm run lint-sol -- --fix

unused varsl
  test/bond-factory.test.ts
  test/role-access-control.test.ts
Due: npm run lint-ts -- --fix

flattening the role struct
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/RoleMembership.sol
  contracts/test/bond/RoleAccessControlBox.sol
  test/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

permissions according to requirements
  contracts/bond/BondCurator.sol
  contracts/bond/BondMediator.sol
  test/bond-curator.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix
