Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint -- --fix

.lintstagedrc:

{
    "*.(md|mjs|js|json)": "npm run format",
    "*.sol": "npm run format",
    "*.ts":  "npm run lint -- --fix"
}

svg images
  .gitignore
  docs/specs/images/bonding-0.svg
  docs/specs/images/escrow-0.svg
  scripts/plantuml.mjs
Due: none

JS doc
  scripts/plantuml.mjs
Due: none

removing redundant log lines
  scripts/plantuml.mjs
Due: none

doco
  README.md
Due: none

chore: helper functions to improve readability
  contracts/bond/Bond.sol
Due: npm run format

feat: render PlantUML as SVG
  .gitignore
  .lintstagedrc
  .prettierrc
  README.md
  docs/specs/images/bonding-0.svg
  docs/specs/images/escrow-0.svg
  package.json
  scripts/plantuml.mjs
Due: none

mjs script be gone
  .lintstagedrc
  package.json
  scripts/plantuml.mjs
Due: none

using the WR repo
  package.json
Due: none

feat: puml generation moved into WindRanger Node-PlantUml
  .lintstagedrc
  package.json
  scripts/plantuml.mjs
Due: none

spec: no activiation bar on entrying group elements
  docs/specs/bonding.puml
Due: none

fix: activation bars
  docs/specs/bonding.puml
  docs/specs/images/bonding-0.svg
Due: none

fix: ordering of activate decactive for bar termination
  docs/specs/bonding.puml
Due: none

spec: activation bars for sequence diagram
  docs/specs/bonding.puml
Due: none

rendering update
  docs/specs/images/bonding-0.svg
Due: none

spec: activation bars for sequence diagram
  docs/specs/bonding.puml
  docs/specs/images/bonding-0.svg
Due: none

fix: common Solidity pragma
  contracts/bond/Bond.sol
Due: npm run format

fix: consistent Solidity pragma version
  contracts/bond/Bond.sol
Due: npm run format

fix: fewer math operation on slashing redemption
  contracts/bond/Bond.sol
Due: npm run format

fix: zero address check on parameters
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
Due: npm run format

fix: plural names for token contracts
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
Due: npm run format

fix: variance in variable name
  contracts/bond/BondFactory.sol
Due: npm run format

fix: check-effects-interaction on emitted events
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
Due: npm run format

chore: now redundany solhint config file
  .solhint.json
Due: none

chore: now redundant solhint config file
  .solhint.json
Due: none

fix: generics for deploying a contract in test framework
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/contracts.ts
Due: npm run lint -- --fix

chore: moving test specific helper into test file
  test/bond.test.ts
  test/utils/contracts.ts
Due: npm run lint -- --fix

fix: adding generics to the contract handling in the test framework
  test/bond-factory.test.ts
  test/bond.test.ts
  test/utils/contracts.ts
Due: npm run lint -- --fix

ci: dependabot monthly cadence
  .github/dependabot.yml
Due: none

chore: dependency eslint to version 8
  package.json
Due: none

ci: slither analyzer as PR status check
  .github/workflows/master-push-pull.yml
Due: none

ci: job names
  .github/workflows/master-push-pull.yml
Due: none
