Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

bond portal
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

bond portal
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
Due: npm run lint-sol -- --fix

dao config id
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
Due: npm run lint-sol -- --fix

correcting description
  contracts/bond/BondPortal.sol
Due: npm run lint-sol -- --fix

create dao event parser
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/bond-portal-events.ts
Due: npm run lint-ts -- --fix

reading event id
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

using set for whitelis
  contracts/bond/BondMediator.sol
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

add values function
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

treaury per a dao
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

:after for cleanup
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

feat: bond dao config struct
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/bond-portal-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: bond config into abstract parent
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/test/bond/BondAccessControlBox.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/bond-mediator.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests passing
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests passing
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

add get all UT
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

require return values for Set::add/remove
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

clean
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

align require stmts
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

removed updateWhitelist functions
  contracts/bond/BondMediator.sol
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add symbol getter
  contracts/bond/ERC20SingleCollateralBond.sol
Due: npm run lint-sol -- --fix

feat: Use set for whitelist
  contracts/bond/BondMediator.sol
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: moving collateral whitlist to per dao
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/DaoBondConfiguration.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: splitting tests
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/bond-mediator.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

extracting out the dao collateral whitelist
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

splitting whitelist test out
  test/dao-bond-collateral-whitelist.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-ts -- --fix

error messages
  contracts/bond/DaoBondConfiguration.sol
  test/bond-mediator.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

reverting
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoConfigurationAccess.sol
Due: npm run lint-sol -- --fix

interface to satisfy slither
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoConfigurationAccess.sol
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

dao collateral whitelist tests
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  test/dao-bond-collateral-whitelist.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

slither ignore for virtual function in abstract contract
  contracts/bond/DaoBondCollateralWhitelist.sol
Due: npm run lint-sol -- --fix

fixing merge
  contracts/bond/BondMediator.sol
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/bond-mediator.test.ts
  test/dao-bond-collateral-whitelist.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: collateral whitelist per a dao
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondPortal.sol
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/bond-mediator.test.ts
  test/dao-bond-collateral-whitelist.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fixing tests
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

additional test
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

feat: dao aware bond manager
  contracts/bond/BondCurator.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: consistent function naming
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  test/dao-bond-collateral-whitelist.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactoring
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/bond-mediator.test.ts
  test/dao-bond-collateral-whitelist.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: dao collateral whitelist naming
  contracts/bond/BondMediator.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/test/bond/DaoBondConfigurationBox.sol
  test/bond-mediator.test.ts
  test/dao-bond-collateral-whitelist.test.ts
  test/dao-bond-configuration.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: init pauseable
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
