Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

deps: major typechain version
  package-lock.json
  package.json
Due: none

document tag
  contracts/test/Box.sol
  contracts/test/BoxExtension.sol
Due: npm run lint-sol -- --fix

update test version string
  test/version.test.ts
Due: npm run lint-ts -- --fix

feat: partial release
  contracts/bond/ERC20SingleCollateralBond.sol
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

Contract versioning workflow
  .github/workflows/release.yml
  .gitignore
  contracts/Version.sol
  contracts/test/BaseBox.sol
  contracts/test/Box.sol
  contracts/test/BoxExtension.sol
  scripts/bond/deploy.ts
  scripts/common.ts
  scripts/versioning/check-contracts.ts
  scripts/versioning/check.ts
  test/version.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: typechain directory rename
  .eslintrc
  .gitignore
  package-lock.json
  package.json
  scripts/bond/create-bond.ts
  scripts/bond/deploy.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/single-collateral-bond-contract.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/ownable/ownable-events.ts
  test/contracts/upgradable/upgradable-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

caster
  test/contracts/extended-erc20.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

consistency
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/extended-erc20.ts
Due: npm run lint-ts -- --fix

types directory
  .prettierignore
  scripts/versioning/check-contracts.ts
  scripts/versioning/check.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/cast/extended-erc20.ts
  test/contracts/cast/version.ts
  test/erc20-single-collateral-bond.test.ts
  test/version.test.ts
Due: npm run lint-ts -- --fix

types directory
  scripts/bond/deploy.ts
Due: npm run lint-ts -- --fix

fix: typechain directory rename
  .eslintrc
  .gitignore
  .prettierignore
  package-lock.json
  package.json
  scripts/bond/create-bond.ts
  scripts/bond/deploy.ts
  scripts/versioning/check-contracts.ts
  scripts/versioning/check.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/single-collateral-bond-contract.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/cast/extended-erc20.ts
  test/contracts/cast/version.ts
  test/contracts/ownable/ownable-events.ts
  test/contracts/upgradable/upgradable-events.ts
  test/erc20-single-collateral-bond.test.ts
  test/version.test.ts
Due: npm run lint-ts -- --fix

chore(deps): update all dependencies
  package-lock.json
  package.json
Due: none

inherit Version for Bond contracts and add check to workflow script
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/bond/ERC20SingleCollateralBond.sol
  scripts/versioning/check-contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: updating solhint ignore
  .solhintignore
Due: none

chore(deps): update dependency elliptic to 6.5.4 [security]
  package-lock.json
Due: none

chore(deps): update dependency json-schema to 0.4.0 [security]
  package-lock.json
Due: none

chore(deps): update dependency node-fetch to 2.6.1 [security]
  package-lock.json
Due: none

chore(deps): update dependency normalize-url to 4.5.1 [security]
  package-lock.json
Due: none

chore(deps): update dependency path-parse to 1.0.7 [security]
  package-lock.json
Due: none

chore(deps): update dependency tar to 4.4.18 [security]
  package-lock.json
Due: none

chore(deps): update dependency ws to 5.2.3 [security]
  package-lock.json
Due: none

chore(deps): update dependency simple-get to 2.8.2 [security]
  package-lock.json
Due: none

feat: refactoring access control
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  test/bond-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: refactoring access control
  contracts/test/bond/BondAccessControl.sol
  test/bond-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

removing duplicate tests
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

feat: common bond access control ancestor
  contracts/bond/BondAccessControl.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  contracts/test/bond/BondAccessControl.sol
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: no unused vars
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

unused back to warning
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

updating hardcoded addresses
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix

fix: removing unused vars
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

fix: interface over abstract contract
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
Due: npm run lint-sol -- --fix

fix: types over anon shapes
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-bond-creator-events.ts
  test/contracts/bond/verify-curator-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

anon
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

fix: typing anonymous parameters
  test/contracts/bond/bond-creator-events.ts
  test/contracts/bond/bond-curator-events.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-bond-creator-events.ts
  test/contracts/bond/verify-curator-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

fix: reducing prettier search set
  .prettierignore
Due: none

only find contracts for sol target
  package.json
Due: none
