Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

renaming
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

fix: add min total stake checks (#373)
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

empty string metadata
  test/contracts/staking/staking-mediator.test.ts
Due: npm run lint-ts -- --fix

feat: call setMetadata() in createDao() (#376)
  contracts/staking/StakingPoolMediator.sol
  docs/deploy_local.md
  docs/deploy_remote.md
  scripts/utils/environment-variable.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-staking-pool-dao.ts
  test/contracts/staking/staking-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: stakingPoolRequirementsUnmet condition
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: div by sensible number and detail in comment
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

fix: stakingPoolRequirementsUnmet condition (#378)
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: deploy and createPools
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
Due: npm run lint-ts -- --fix

fix: sensible defaults and offset each pool by 1min
  scripts/deploy/deploy-all-logic.ts
Due: npm run lint-ts -- --fix

fix: verifications on proxied contracts and await timeouts
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/bitdao-deploy.ts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/deploy/deploy-all-logic.ts
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
  scripts/deploy/staking-pool-deploy.ts
  scripts/utils/contract.ts
Due: npm run lint-ts -- --fix

refactor: abstract deploy logic
  scripts/deploy/deploy-all-logic.ts
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/deploy-all.ts
Due: npm run lint-ts -- --fix

feat: deploy and createPools with contract verifications
  scripts/deploy/bitdao-deploy.ts
  scripts/deploy/bond-deploy.ts
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy.ts
Due: npm run lint-ts -- --fix

feat: deploy with 4 pools total
  scripts/deploy/deploy-all-logic.ts
Due: npm run lint-ts -- --fix

fix: replace bitdao logo in daos deployed metadata
  scripts/deploy/deploy-all-logic.ts
Due: npm run lint-ts -- --fix

fix: tidy and add awaitContractPropagations
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/bitdao-deploy.ts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
  scripts/deploy/staking-pool-deploy.ts
Due: npm run lint-ts -- --fix
