Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

zero address check
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolMediator.sol
  contracts/test/dao-configuration/DaoConfigurationBox.sol
Due: npm run lint-sol -- --fix

Feature: create StakingCurator and Mediator (#308)
  contracts/bond/BondPortal.sol
  contracts/dao-configuration/DaoCollateralWhitelist.sol
  contracts/dao-configuration/DaoConfiguration.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolCreator.sol
  contracts/staking/StakingPoolCurator.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolMediator.sol
  contracts/test/dao-configuration/DaoConfigurationBox.sol
  test/contracts/dao-configuration/dao-collateral-whitelist.test.ts
  test/contracts/dao-configuration/dao-configuration.test.ts
  test/event/dao-configuration/dao-configuration-events.ts
  test/event/dao-configuration/verify-dao-configuration-events.ts
  test/event/dao-configuration/verify-whitelist-events.ts
  test/event/dao-configuration/whitelist-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add erc20 token sweep
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/sweep/SweepERC20.sol
Due: npm run lint-sol -- --fix

add erc20 token sweep
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
Due: npm run lint-sol -- --fix

staking factory tests
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

all tests passing
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests passing
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

remove unused imports
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

existing tests passing
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

clean
  contracts/sweep/SweepERC20.sol
Due: npm run lint-sol -- --fix

remove access control from staking pool factory
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add other level function calls
  contracts/staking/StakingPoolCurator.sol
Due: npm run lint-sol -- --fix

change state view mutability
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

feat/staking token sweep (#305)
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolCurator.sol
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove unused imports (#334)
  test/contracts/staking/staking-factory.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-ts -- --fix

replacing quadratic check with linear
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/staking/StakingPool.sol
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

change state view mutability (#331)
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

chore(deps): update dependency undici to 5.5.1 [security]
  package-lock.json
  package.json
Due: none

lint, function ordering
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: optional remote deploy with env vars
  .eslintrc
  docs/deploy_remote.md
  hardhat.config.ts
  scripts/deploy/bond-deploy.ts
Due: npm run lint-ts -- --fix

feat: optional remote deploy with env vars (#337)
  .eslintrc
  docs/deploy_remote.md
  hardhat.config.ts
  scripts/deploy/bond-deploy.ts
Due: npm run lint-ts -- --fix

feat: removing PlantUML due to unrelible downloading
  README.md
  package-lock.json
  package.json
Due: none

feat: removing PlantUML due to unrelible downloading (#340)
  README.md
  package-lock.json
  package.json
Due: none

feat: executable bitdao token deploy and doco update
  docs/deploy_local.md
  docs/deploy_remote.md
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/deploy-all-no-etherscan.ts
Due: npm run lint-ts -- --fix

feat: executable bitdao token deploy and doco update (#342)
  docs/deploy_local.md
  docs/deploy_remote.md
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/deploy-all-no-etherscan.ts
Due: npm run lint-ts -- --fix

replacing quadratic check with linear (#335)
  contracts/bond/TimeLockMultiRewardBond.sol
  contracts/staking/StakingPool.sol
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/contracts/staking/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix last super user removal
  contracts/RoleAccessControl.sol
  test/contracts/bond/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

improve error msg
  contracts/RoleAccessControl.sol
  test/contracts/bond/role-access-control.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: Bonds to PerformanceBonds
  contracts/performance-bonds/ERC20SingleCollateralPerformanceBond.sol
  contracts/performance-bonds/ExpiryTimestamp.sol
  contracts/performance-bonds/MetaDataStore.sol
  contracts/performance-bonds/PerformanceBond.sol
  contracts/performance-bonds/PerformanceBondCreator.sol
  contracts/performance-bonds/PerformanceBondCurator.sol
  contracts/performance-bonds/PerformanceBondFactory.sol
  contracts/performance-bonds/PerformanceBondMediator.sol
  contracts/performance-bonds/PerformanceBondPortal.sol
  contracts/performance-bonds/Redeemable.sol
  contracts/performance-bonds/SingleCollateralMultiRewardPerformanceBond.sol
  contracts/performance-bonds/SingleCollateralPerformanceBond.sol
  contracts/performance-bonds/TimeLockMultiRewardPerformanceBond.sol
  contracts/test/bond/BondCuratorBox.sol
  contracts/test/performance-bond/BondCuratorBox.sol
  contracts/test/performance-bond/ERC20SingleCollateralBondBox.sol
  contracts/test/performance-bond/RoleAccessControlBox.sol
  contracts/test/performance-bond/TimeLockMultiRewardBondBox.sol
Due: npm run lint-sol -- --fix

doco
  docs/deploy_local.md
  docs/deploy_remote.md
Due: none

tests and scripts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/utils/transaction-event-log.ts
  scripts/verify/create-dao.ts
  scripts/verify/create-managed-bond.ts
  scripts/verify/whitelist-collateral.ts
  test/contracts/performance-bond/erc20-single-collateral-performance-bond.test.ts
  test/contracts/performance-bond/performance-bond-curator.test.ts
  test/contracts/performance-bond/performance-bond-factory.test.ts
  test/contracts/performance-bond/performance-bond-mediator.test.ts
  test/contracts/performance-bond/role-access-control.test.ts
  test/contracts/performance-bond/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bond/time-lock-multi-reward-performance-bond.test.ts
  test/contracts/staking/staking.test.ts
  test/event/bond/verify-curator-events.ts
  test/event/dao-configuration/whitelist-events.ts
  test/event/performance-bond/access-control-messages.ts
  test/event/performance-bond/meta-data-store-events.ts
  test/event/performance-bond/performance-bond-creator-events.ts
  test/event/performance-bond/performance-bond-curator-events.ts
  test/event/performance-bond/performance-bond-mediator-events.ts
  test/event/performance-bond/redeemable-events.ts
  test/event/performance-bond/roles.ts
  test/event/performance-bond/single-collateral-performance-bond-contract.ts
  test/event/performance-bond/single-collateral-performance-bond-events.ts
  test/event/performance-bond/time-lock-multi-reward-performance-bond-events.ts
  test/event/performance-bond/verify-meta-data-store-events.ts
  test/event/performance-bond/verify-performance-bond-creator-events.ts
  test/event/performance-bond/verify-performance-bond-curator-events.ts
  test/event/performance-bond/verify-performance-bond-mediator-events.ts
  test/event/performance-bond/verify-redeemable-events.ts
  test/event/performance-bond/verify-single-collateral-performance-bond-events.ts
  test/event/performance-bond/verify-time-lock-multi-reward-performance-bond-events.ts
Due: npm run lint-ts -- --fix

use safeERC20 for transfer and transferFrom
  contracts/performance-bonds/ERC20SingleCollateralPerformanceBond.sol
  contracts/performance-bonds/TimeLockMultiRewardPerformanceBond.sol
  contracts/sweep/SweepERC20.sol
Due: npm run lint-sol -- --fix

copied perf bond scripts
  scripts/deploy/deploy-all-no-etherscan.ts
  scripts/deploy/deploy-all.ts
  scripts/deploy/staking-pool-deploy-no-etherscan.ts
  scripts/deploy/staking-pool-deploy.ts
Due: npm run lint-ts -- --fix

fix: script update to log the trasnaction id for contract deployment
  docs/deploy_local.md
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/utils/contract.ts
Due: npm run lint-ts -- --fix

fix: script update to log the trasnaction id for contract deployment (#348)
  docs/deploy_local.md
  scripts/deploy/bitdao-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy-no-etherscan.ts
  scripts/deploy/bond-deploy.ts
  scripts/utils/contract.ts
Due: npm run lint-ts -- --fix

fix: test folder name to match source
  test/contracts/performance-bonds/erc20-single-collateral-performance-bond.test.ts
  test/contracts/performance-bonds/performance-bond-curator.test.ts
  test/contracts/performance-bonds/performance-bond-factory.test.ts
  test/contracts/performance-bonds/performance-bond-mediator.test.ts
  test/contracts/performance-bonds/role-access-control.test.ts
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
Due: npm run lint-ts -- --fix

fix: test folder name to match source (#349)
  test/contracts/performance-bonds/erc20-single-collateral-performance-bond.test.ts
  test/contracts/performance-bonds/performance-bond-curator.test.ts
  test/contracts/performance-bonds/performance-bond-factory.test.ts
  test/contracts/performance-bonds/performance-bond-mediator.test.ts
  test/contracts/performance-bonds/role-access-control.test.ts
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
Due: npm run lint-ts -- --fix

fix: typechain changes
  test/contracts/performance-bonds/single-collateral-multi-reward-performance-bond.test.ts
  test/contracts/performance-bonds/time-lock-multi-reward-performance-bond.test.ts
Due: npm run lint-ts -- --fix
