Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

remove yarn.lock
  yarn.lock
Due: none

added verifyERC721TransferEventLogs
  test/contracts/common/erc721-transfer.ts
  test/erc20-single-collateral-bond.test.ts
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

use verify from event log
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/erc20-single-collateral-bond.test.ts
  test/token-sweep.test.ts
  yarn.lock
Due: npm run lint-ts -- --fix

using verifyTransferEvent from EventLogs
  test/contracts/common/erc20-transfer.ts
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

remove logger
  test/framework/events.ts
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

remove slither cmd
  package.json
Due: none

remove variable shadowing
  contracts/sweep/TokenSweep.sol
Due: npm run lint-sol -- --fix

make setBeneficiary internal
  contracts/sweep/BaseTokenSweep.sol
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/sweep/TokenSweep.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

docString
  contracts/sweep/TokenSweep.sol
Due: npm run lint-sol -- --fix

remove unused imports
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/erc721-transfer.ts
  test/contracts/common/verify-erc20-transfer.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

added natspec
  contracts/sweep/BaseTokenSweep.sol
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
Due: npm run lint-sol -- --fix

remove comment
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
Due: npm run lint-sol -- --fix

PR feedback implemented
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/framework/events.ts
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove imports, clean
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/contracts/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

moved test vars to bottom
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

changes
  test/bond-factory.test.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/erc721-transfer.ts
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

make sweep functions internal
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
Due: npm run lint-sol -- --fix

remove comment
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

natspec
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
Due: npm run lint-sol -- --fix

typings and PR review feedback
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/erc721-transfer.ts
  test/contracts/common/verify-erc20-transfer.ts
Due: npm run lint-ts -- --fix

rebased main
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-ts -- --fix

improve typings
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/erc721-transfer.ts
  test/contracts/common/verify-erc20-transfer.ts
  test/contracts/common/verify-erc721-transfer.ts
Due: npm run lint-ts -- --fix

continue rebase
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/verify-erc20-transfer.ts
Due: npm run lint-ts -- --fix

remove uupsUpgradability from TokenSweep contract
  contracts/sweep/TokenSweep.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

update require reason
  contracts/sweep/TokenSweep.sol
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

pr nits
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/sweep/TokenSweep.sol
  test/contracts/common/verify-erc20-transfer.ts
  test/contracts/common/verify-erc721-transfer.ts
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

rebased main again
  test/bond-factory.test.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

clean
  test/bond-factory.test.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
Due: npm run lint-ts -- --fix

fix: moving collateral whitelist to BondMediator (#211)
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

casting
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

make whitelistedSymbols external
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

clean
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

bumped solidity to explore string -> bytes32
  contracts/bond/CollateralWhitelist.sol
  hardhat.config.ts
  test/bond-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

spacing in revert msgs
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/sweep/TokenSweep.sol
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

specify erc20 contract
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

feat: Token Sweep Contracts (#175)
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/sweep/TokenSweep.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/bond-mediator.test.ts
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/erc721-transfer.ts
  test/contracts/common/verify-erc20-transfer.ts
  test/contracts/common/verify-erc721-transfer.ts
  test/erc20-single-collateral-bond.test.ts
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: collateral symbol to tokens address
  contracts/bond/BondMediator.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

slither
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

feat: collateral symbol to tokens address
  contracts/bond/BondMediator.sol
  contracts/bond/CollateralWhitelist.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: bond dao config struct
  contracts/bond/BondMediator.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix
