Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: now redundant casting classes
  scripts/versioning/check-contracts.ts
  scripts/versioning/check.ts
  test/cast/extended-erc20.ts
  test/cast/version.ts
  test/contracts/bond/bond-curator.test.ts
  test/contracts/bond/bond-factory.test.ts
  test/contracts/bond/bond-mediator.test.ts
  test/contracts/bond/dao-bond-collateral-whitelist.test.ts
  test/contracts/bond/dao-bond-configuration.test.ts
  test/contracts/bond/erc20-single-collateral-bond.test.ts
  test/contracts/bond/single-collateral-multi-reward-bond.test.ts
  test/contracts/bond/time-lock-multi-reward-bond.test.ts
  test/event/erc20/erc20-events.ts
  test/event/erc721/erc721-events.ts
Due: npm run lint-ts -- --fix

Add Staking Contracts
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

more common functionality
  contracts/staking/FixedStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

refactor common daoId
  contracts/Dao.sol
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  coverage.json
Due: npm run lint-sol -- --fix

building
  contracts/Dao.sol
  contracts/staking/DaoTreasuryWhitelist.sol
Due: npm run lint-sol -- --fix

dao registry
  contracts/Dao.sol
  contracts/DaoRegistry.sol
  contracts/staking/Roles.sol
Due: npm run lint-sol -- --fix

daoWhitelist interface
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/DaoTreasuryWhitelist.sol
  contracts/staking/StakingAccessControl.sol
Due: npm run lint-sol -- --fix

create registry
  contracts/DaoRegistry.sol
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

building
  contracts/Roles.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/bond/RoleAccessControl.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/Roles.sol
  contracts/staking/StakingAccessControl.sol
Due: npm run lint-sol -- --fix

rebased main
  contracts/bond/DaoBondCollateralWhitelist.sol
  contracts/bond/DaoBondConfiguration.sol
Due: npm run lint-sol -- --fix

remove dao files
  contracts/Dao.sol
  contracts/DaoRegistry.sol
Due: npm run lint-sol -- --fix

implemented new access control - compiling
  contracts/RoleAccessControl.sol
  contracts/RoleMembership.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondPortal.sol
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/StakingAccessControl.sol
  contracts/test/bond/RoleAccessControlBox.sol
Due: npm run lint-sol -- --fix

emergency rewards function
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

add initializer modifier
  contracts/staking/DaoStakingFactory.sol
Due: npm run lint-sol -- --fix

remove factories
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPoolFactory.sol
  contracts/staking/FloatingStakingPoolFactory.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

refactor RoleAccessControl and Initializable into base class
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

more tests
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  test/contracts/staking/floating-staking-events.ts
  test/contracts/staking/verify-staking-events.ts
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

move events up
  contracts/staking/FixedStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

more withdraw tests
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactor
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
Due: npm run lint-sol -- --fix

add emergency withdrawal (#246)
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolInfo.sol
Due: npm run lint-sol -- --fix

make slither happier
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add some verification of events
  test/contracts/staking/floating-staking-events.ts
  test/contracts/staking/verify-staking-events.ts
  test/floating-staking.test.ts
Due: npm run lint-ts -- --fix

add tests again..
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

Feat/add staking floating tests (#251)
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolBase.sol
  contracts/staking/StakingPoolInfo.sol
  test/floating-staking.test.ts
  test/framework/time.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

div by ether
  contracts/staking/FloatingStakingPool.sol
Due: npm run lint-sol -- --fix

refactor
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-events.ts
  test/contracts/staking/verify-staking-events.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

clean
  contracts/staking/StakingPool.sol
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactor
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-events.ts
  test/contracts/staking/verify-staking-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

staking pool verification code
  contracts/staking/StakingPoolFactory.sol
  test/contracts/staking/staking-factory-events.ts
  test/contracts/staking/verify-staking-factory-events.ts
  test/staking-factory.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

merge contracts
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolBase.sol
  contracts/staking/StakingPoolLib.sol
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

tests
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add pause feature
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolFactory.sol
  contracts/staking/StakingPoolLib.sol
  test/framework/time.ts
  test/staking-factory.test.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove unused import
  test/contracts/staking/verify-staking-events.ts
  test/floating-staking.test.ts
  test/framework/time.ts
Due: npm run lint-ts -- --fix

more tests
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
  test/framework/time.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add staking factory tests
  contracts/staking/DaoStakingFactory.sol
  contracts/staking/StakingPool.sol
  test/contracts/staking/staking-events.ts
  test/staking-factory.test.ts
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

existing tests pass
  test/contracts/staking/staking-events.ts
Due: npm run lint-ts -- --fix

more refactor
  contracts/staking/DaoStakingFactory.sol
  test/contracts/staking/staking-events.ts
  test/contracts/staking/verify-staking-events.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

changed from finalizeRewards flag to rewardsAvailableTimestamp
  contracts/staking/FixedStakingPool.sol
  contracts/staking/FloatingStakingPool.sol
  contracts/staking/StakingPool.sol
  contracts/staking/StakingPoolBase.sol
  test/floating-staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

existing tests pass
  contracts/staking/StakingPool.sol
  test/staking.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

Path conditions:
  npm run format: any of: *.(md|js|json|sol)
  npm run lint-sol -- --fix: any of: *.sol
  npm run lint-ts -- --fix: any of: *.ts
