Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

escaping
  package.json
Due: none

ci: efficient cross platform prettier
  .prettierignore
  package.json
Due: none

ci: ignoring more during prettier pass
  .prettierignore
Due: none

fix: no magic strings for access control revert msgs
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-access-control-messages.ts
Due: npm run lint-ts -- --fix

moving roles
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/roles.ts
Due: npm run lint-ts -- --fix

typing
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-access-control-messages.ts
  test/contracts/bond/roles.ts
Due: npm run lint-ts -- --fix

consistent syntactic sugar
  test/bond-access-control.test.ts
Due: npm run lint-ts -- --fix

fix: no magic strings for roles or accounts revert messages
  test/bond-access-control.test.ts
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/bond/bond-access-control-messages.ts
  test/contracts/bond/roles.ts
  test/contracts/roles.ts
Due: npm run lint-ts -- --fix

inherit PauableUpgradable
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

alphabetical ordering of inheritance
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

bond factory tests
  test/bond-factory.test.ts
Due: npm run lint-ts -- --fix

use before vs beforeEach
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

tests passing
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

mediator pausible tests
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

rebased main
  test/bond-factory.test.ts
Due: npm run lint-ts -- --fix

use nice accessControlRevert strings
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

test case naming
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

feat: inherit PausableUpgradable (#204)
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  test/bond-factory.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: moving treasury from bond factory
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondIdentity.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondSettings.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: moving treasury from bond factory
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondIdentity.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondSettings.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: grouping structs with related interface
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondIdentity.sol
  contracts/bond/BondMediator.sol
  contracts/bond/BondSettings.sol
Due: npm run lint-sol -- --fix

fix: move collateral whitelist to mediator
  contracts/bond/BondCreator.sol
Due: npm run lint-sol -- --fix

moving whitelisting
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

renmaing to avoid confusion
  contracts/bond/BondCreator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondMediator.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/erc20-single-collateral-bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

remove console.sol
  contracts/sweep/SweepERC20.sol
Due: npm run lint-sol -- --fix

make slither happy?
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  contracts/token/BaseTokenSweep.sol
Due: npm run lint-sol -- --fix

rebased main
  package.json
Due: none

LIVE from WebStorm...
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

temp ignore lint
  contracts/sweep/BaseTokenSweep.sol
  contracts/sweep/SweepERC20.sol
  contracts/sweep/SweepERC721.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add vanilla tests
  contracts/sweep/SweepERC20.sol
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  test/bond-factory.test.ts
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add a harness
  contracts/test/WithdrawTokensHarness.sol
Due: npm run lint-sol -- --fix

implement basic abstract contract
  contracts/token/WithdrawTokens.sol
Due: npm run lint-sol -- --fix

actually use UUPS
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  contracts/token/BaseTokenSweep.sol
  package.json
Due: npm run lint-sol -- --fix

check result of erc20 transfer to make slither happy
  contracts/token/WithdrawTokens.sol
Due: npm run lint-sol -- --fix

implemented PR review feedback
  contracts/test/SweepERC20TokensHarness.sol
  contracts/test/SweepERC721TokensHarness.sol
  contracts/test/WithdrawTokensHarness.sol
  contracts/token/BaseTokenSweep.sol
  contracts/token/SweepERC20.sol
  contracts/token/SweepERC721.sol
  contracts/token/WithdrawTokens.sol
  test/token-sweep.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

move ERC20 transfer event parsing into common directory
  test/contracts/bond/single-collateral-bond-events.ts
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20.ts
Due: npm run lint-ts -- --fix

refactor tests to use verifyTransfer
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20.ts
  test/erc20-single-collateral-bond.test.ts
  test/framework/events.ts
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix

seperate verify functions into seperate file
  test/contracts/bond/verify-single-collateral-bond-events.ts
  test/contracts/common/erc20-transfer.ts
  test/contracts/common/erc721-transfer.ts
  test/contracts/common/verify-erc20-transfer.ts
  test/contracts/common/verify-erc721-transfer.ts
  test/erc20-single-collateral-bond.test.ts
  test/token-sweep.test.ts
Due: npm run lint-ts -- --fix
