Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint -- --fix

ci: github actions each have job names
  .github/workflows/master-push-pull.yml
Due: none

ci: caching npm hits
  .github/workflows/master-push-pull.yml
Due: none

explicit node version
  .github/workflows/master-push-pull.yml
Due: none

caching needs to lockfile
  .gitignore
  package-lock.json
Due: none

ci: caching npm dependency dowloads
  .github/workflows/master-push-pull.yml
  .gitignore
  package-lock.json
Due: none

trying to get the cache working
  .github/workflows/master-push-pull.yml
Due: none

indentation
  .github/workflows/master-push-pull.yml
Due: none

test failing slither
  .github/workflows/master-push-pull.yml
Due: none

ignoring treasury contract again
  .github/workflows/master-push-pull.yml
Due: none

attempt at caching
  .github/workflows/master-push-pull.yml
Due: none

cache befoere node
  .github/workflows/master-push-pull.yml
Due: none

ci: github action cache applied to Slither job
  .github/workflows/master-push-pull.yml
Due: none

ci: longer cadence between update checks
  .github/dependabot.yml
Due: none

fix: allowing emergency flushing of funds from Bond
  contracts/bond/Bond.sol
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

ci: sequential job execution
  .github/workflows/master-push-pull.yml
Due: none

typo
  .github/workflows/master-push-pull.yml
Due: none

ci: build artifact
  .github/workflows/master-push-pull.yml
Due: none

formatting
  .github/workflows/master-push-pull.yml
Due: none

using artifact
  .github/workflows/master-push-pull.yml
Due: none

variables
  .github/workflows/master-push-pull.yml
Due: none

branch and hash
  .github/workflows/master-push-pull.yml
Due: none

github context
  .github/workflows/master-push-pull.yml
Due: none

code checkout
  .github/workflows/master-push-pull.yml
Due: none

more artefacts
  .github/workflows/master-push-pull.yml
Due: none

fiX: emittig events preceeding all their implementation events
  contracts/bond/Bond.sol
Due: npm run format

test
  test/utils/events.ts
Due: npm run lint -- --fix

fiX: emitting events preceding all their implementation events
  contracts/bond/Bond.sol
Due: npm run format

docs: why collateral tokens is not settable
  contracts/bond/Bond.sol
Due: npm run format

ci: parallel after cache creation
  .github/workflows/master-push-pull.yml
Due: none

docs: slither setup instructions
  README.md
Due: none

docs
  .gitignore
  README.md
Due: none

docs: slither run instructions
  .gitignore
  README.md
Due: none

feat: init instead of constructor for Bond creation
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  package-lock.json
  package.json
  test/bond-factory.test.ts
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

fix: debt token amount to bond creation event
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
  test/utils/events.ts
Due: npm run format, npm run lint -- --fix

chore: moving the amount of debt token to be parameter after the debt token def
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  test/bond.test.ts
Due: npm run format, npm run lint -- --fix

Path conditions:
  npm run format: (any of: *.(md|mjs|js|json)) or (any of: *.sol)
  npm run lint -- --fix: any of: *.ts
