Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

mo test
  contracts/bond/BondMediator.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

linting
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

fix: access control tests
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
  test/bond-factory.test.ts
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
  test/contracts/roles.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

feat: gaps to allow upgrades to have additional vars
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/bond/MetaDataStore.sol
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

feat: mediator and manager ut
  test/bond-mediator.test.ts
  test/contracts/bond/bond-manager-events.ts
Due: npm run lint-ts -- --fix

promoting events
  contracts/bond/BondCreator.sol
  contracts/bond/BondCurator.sol
  contracts/bond/BondFactory.sol
  contracts/bond/BondManager.sol
  contracts/bond/BondMediator.sol
Due: npm run lint-sol -- --fix

feat: event log parsing for the AddBond event
  contracts/bond/BondCreator.sol
  contracts/bond/BondManager.sol
  test/bond-mediator.test.ts
  test/contracts/bond/bond-manager-events.ts
  test/framework/event-logs.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add release workflow test
  .github/workflows/release.yml
Due: none

syntax
  .github/workflows/release.yml
Due: none

syntax
  .github/workflows/main-push-pull.yml
  .github/workflows/release.yml
Due: none

syntax
  .github/workflows/main-push-pull.yml
Due: none

added abstract version contract
  contracts/abstract/Version.sol
  contracts/treasury/ERC20Treasury.sol
Due: npm run lint-sol -- --fix

grab tag
  .eslintrc
  .github/workflows/release.yml
  contracts/treasury/ERC20Treasury.sol
  package.json
  scripts/bond/deploy.ts
  scripts/versioning/check-version.ts
  test/framework/contracts.ts
  yarn.lock
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

add script to node
  .github/workflows/release.yml
Due: none

use npx
  .github/workflows/release.yml
  scripts/versioning/check-version.ts
Due: npm run lint-ts -- --fix

add run keyword
  .github/workflows/release.yml
Due: none

pull out common functionality
  scripts/bond/deploy.ts
  scripts/common.ts
  scripts/versioning/check-version.ts
Due: npm run lint-ts -- --fix

re-add test workflow
  .github/workflows/main-push-pull.yml
Due: none

original
  .github/workflows/main-push-pull.yml
Due: none

de-bump versions
  package.json
Due: none

reinstate files
  .eslintrc
  scripts/bond/deploy.ts
  scripts/versioning/check-version.ts
  test/framework/contracts.ts
  yarn.lock
Due: npm run lint-ts -- --fix

event log parsing
  test/bond-mediator.test.ts
  test/contracts/bond/bond-manager-events.ts
  test/contracts/ownable/ownable-events.ts
  test/framework/event-logs.ts
Due: npm run lint-ts -- --fix

getters
  contracts/bond/ERC20SingleCollateralBond.sol
  contracts/bond/ExpiryTimestamp.sol
  test/bond-mediator.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

verifying transfer events
  test/bond-mediator.test.ts
  test/contracts/ownable/verify-ownable-event.ts
Due: npm run lint-ts -- --fix

access control ut
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

case
  test/bond-manager.test.ts
  test/bond-mediator.test.ts
Due: npm run lint-ts -- --fix

error check non semver tags
  package.json
  scripts/versioning/check-version.ts
  tsconfig.json
  typings/is-semver.d.ts
  yarn.lock
Due: npm run lint-ts -- --fix

print isSemver flag
  scripts/versioning/check-version.ts
Due: npm run lint-ts -- --fix

PR review changes
  contracts/Version.sol
  contracts/treasury/ERC20Treasury.sol
  scripts/versioning/check-version.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

refactored to take constructed Contract
  .github/workflows/release.yml
  contracts/treasury/ERC20Treasury.sol
  scripts/versioning/check-contracts.ts
  scripts/versioning/check-version.ts
  scripts/versioning/check.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

dump version
  contracts/Version.sol
Due: npm run lint-sol -- --fix

bump version
  contracts/Version.sol
Due: npm run lint-sol -- --fix

partial add bond
  test/bond-manager.test.ts
Due: npm run lint-ts -- --fix
