Repository windranger-io/windranger-treasury: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint-sol -- --fix, npm run lint-ts -- --fix

.lintstagedrc:

{
    "*.(md|js|json|sol)": "npm run format",
    "*.sol":  "npm run lint-sol -- --fix",
    "*.ts":  "npm run lint-ts -- --fix"
}

eslint for js done
  .eslintrc
  scripts/sample-script.ts
  test/bond-factory-upgradability.test.ts
  test/bond.test.ts
  test/contracts/bond/verify-bond-events.ts
  test/framework/events.ts
Due: npm run lint-ts -- --fix

feat: eslint suggestion rules, with a little code style
  .eslintrc
  .openzeppelin/unknown-33133.json
  hardhat.config.ts
  scripts/sample-script.ts
  test/bond-factory-upgradability.test.ts
  test/bond-factory.test.ts
  test/bond.test.ts
  test/contracts/bond/bond-contract.ts
  test/contracts/bond/verify-bond-events.ts
  test/contracts/ownable/verify-ownable-event.ts
  test/contracts/upgradable/verify-upgradable-events.ts
  test/framework/events.ts
  test/framework/time.ts
Due: npm run lint-ts -- --fix

fix: documentation update for redemption ratio
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

fix: revising natspec docs
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

docs: bond single redemption model
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

fix: natspec revision
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

typo
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

docs: collateral whitelist natspec
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

docs: expiry timestamp natspec
  contracts/bond/ExpiryTimestamp.sol
Due: npm run lint-sol -- --fix

docs: removing description of abstract contract
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

docs: redeemable natspec
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

docs: no underscore suffix for parameters
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

fix: variable shadowing
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

docs: natspec
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/bond/Redeemable.sol
Due: npm run lint-sol -- --fix

fix: upgradability testing moved into solidity template
  contracts/test/upgradable/BondFactoryExtension.sol
  contracts/test/upgradable/BondFactoryWithConstructor.sol
  contracts/test/upgradable/BondFactoryWithEnum.sol
  contracts/test/upgradable/BondFactoryWithImmutableField.sol
  contracts/test/upgradable/BondFactoryWithInitialValueField.sol
  contracts/test/upgradable/BondFactoryWithSelfDestruct.sol
  contracts/test/upgradable/BondFactoryWithStruct.sol
  test/bond-factory-upgradability.test.ts
  test/framework/contracts.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: exponent notation
  .openzeppelin/unknown-33133.json
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

fix: aligning parameter name with convention
  contracts/test/Box.sol
Due: npm run lint-sol -- --fix

doco
  contracts/test/Box.sol
Due: npm run lint-sol -- --fix

feat: minimum bond deposit
  .openzeppelin/unknown-33133.json
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
  test/bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

test
  .openzeppelin/unknown-33133.json
  test/bond.test.ts
Due: npm run lint-ts -- --fix

doco
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

feat: Minimum bond holding
  .openzeppelin/unknown-33133.json
  contracts/bond/Bond.sol
  contracts/bond/BondFactory.sol
  test/bond-factory.test.ts
  test/bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

fix: oz update and change to initializable
  .openzeppelin/unknown-33133.json
  contracts/bond/ExpiryTimestamp.sol
  contracts/bond/Redeemable.sol
  package-lock.json
  package.json
Due: npm run lint-sol -- --fix

ignore
  .gitignore
Due: none

cleanup
  .openzeppelin/unknown-33133.json
Due: none

comment
  .gitignore
Due: none

missed
  contracts/bond/BondFactory.sol
Due: npm run lint-sol -- --fix

missed init
  contracts/bond/CollateralWhitelist.sol
Due: npm run lint-sol -- --fix

fix: oz update and change to initializable
  .gitignore
  .openzeppelin/unknown-33133.json
  contracts/bond/BondFactory.sol
  contracts/bond/CollateralWhitelist.sol
  contracts/bond/ExpiryTimestamp.sol
  contracts/bond/Redeemable.sol
  package-lock.json
  package.json
Due: npm run lint-sol -- --fix

feat: Meta data storage bucket
  contracts/bond/Bond.sol
  contracts/bond/MetaDataStore.sol
Due: npm run lint-sol -- --fix

tests
  contracts/bond/Bond.sol
  contracts/bond/MetaDataStore.sol
  test/bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix

comment
  contracts/bond/Bond.sol
Due: npm run lint-sol -- --fix

doco
  contracts/bond/Bond.sol
  contracts/bond/MetaDataStore.sol
Due: npm run lint-sol -- --fix

more doco
  contracts/bond/MetaDataStore.sol
Due: npm run lint-sol -- --fix

doco
  contracts/bond/MetaDataStore.sol
Due: npm run lint-sol -- --fix

feat: metadata bucket
  contracts/bond/Bond.sol
  contracts/bond/MetaDataStore.sol
  test/bond.test.ts
Due: npm run lint-sol -- --fix, npm run lint-ts -- --fix
